<div class="card p-4">
    <div class="tab-pane active" id="Identificacion">
        <!-- contenido pestaña identificación -->
        <h1 style="font-weight: bold; font-size: 1rem;">*Identificador General</h1>
        <div class="row">
            <label for="folio">Folio:</label>
            <input type="number" min="1" id="folio" class="form-control">
            <label for="equipo">Equipo:</label>
            <select id="equipo" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <label for="equipo">Equipo:</label>
            <input type="file" class="form-control " id="inputGroupFile02">
        </div>
        <div>
            <button class="save-button" (click)="closeModal()">Guardar</button>
        </div>
    </div>
</div>