<div class="card p-4">
    <div class="tab-pane active" id="Identificacion">
        <!-- contenido pestaña identificación -->
        <h1 style="font-weight: bold; font-size: 1rem;">*Identificador General</h1>
        <div class="row">
            <form [formGroup]="miFormulario">
                <!-- folio -->
                <label for="folio">Folio:</label>
                <input type="number" formControlName="folio" class="form-control"
                    [ngClass]="{ 'error-input': folio && folio.invalid && (folio.dirty || folio.touched) }">
                <div *ngIf="folio && folio.invalid && (folio.dirty || folio.touched)">
                    <div *ngIf="folio.errors?.['required']">El folio es obligatorio.</div>
                    <div *ngIf="folio.errors?.['pattern']">Solo se permiten números.</div>
                </div>
                <!-- selector de equipos -->
                <label for="equipo">Equipo:</label>
                <select id="equipo" formControlName="equipo" class="form-control"
                    [ngClass]="{ 'error-input': equipo && equipo.invalid && (equipo.dirty || equipo.touched) }">
                    <option value="" disabled selected>Select an option</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <div *ngIf="equipo && equipo.invalid && (equipo.dirty || equipo.touched)">
                    <div *ngIf="equipo.errors?.['required']">Selecciona un equipo.</div>
                </div>
                <!-- selector de archivos -->
                <label for="archivo">Archivo:</label>
                <input type="file" formControlName="archivo" class="form-control"
                    [ngClass]="{ 'error-input': archivo && archivo.invalid && (archivo.dirty || archivo.touched) }">
                <div *ngIf="archivo && archivo.invalid && (archivo.dirty || archivo.touched)">
                    <div *ngIf="archivo.errors?.['required']">Selecciona un archivo.</div>
                </div>
            </form>
        </div>
        <div>
            <button class="save-button" (click)="guardarInformacion()">Guardar</button>
        </div>
    </div>
</div>