
                <!-- contenido pestaña datos físicos -->
                <label for="estatura">Estatura:</label>
                <input type="number" id="estatura" class="form-control">
                <label for="peso">Peso:</label>
                <input type="number" id="peso" class="form-control">
                <label for="tipoSangre">Tipo de Sangre:</label>
                <select id="tipoSangre" class="form-control">
                    <option value="O+">O+</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O-">O-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
                <hr>
