<footer class="footer-04">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
        <h2 class="footer-heading">
          <b><a>Información</a></b>
        </h2>
       <a> asdasfasfasdasdasdasdasdas info asdasdasdasdasdasdasdasdas
      </a> </div>
      <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
        <div class="logo-container">
          <a [routerLink]="['/Admin']"><img class="logoblanco" src="../../../assets/imagenes/A.png" /></a>
        </div>
        <div class="social-container">
          <h2 class="footer-heading">SÍGUENOS EN NUESTRAS REDES</h2>
          <div>
            <a href="https://www.tiktok.com/" target="_blank">
              <img class="redsocial" src="../../../assets/imagenes/tik-tok.png"></a>
            <!--<a href="https://twitter.com/" target="_blank">
              <img class="facebook" src="../../../assets/imagenes/twitter_3670151.png"></a> -->
            <a href="https://twitter.com/" target="_blank">
              <img class="redsocial" src="../../../assets/imagenes/x.png"></a>
            <a href="https://www.instagram.com" target="_blank">
              <img class="redsocial" src="../../../assets/imagenes/instagram.png"></a>
            <a href="https://www.facebook.com/" target="_blank">
              <img class="redsocial" src="../../../assets/imagenes/facebook.png"></a>
            <a href="https://www.google.com/intl/es/gmail/about/" target="_blank">
              <img class="redsocial" src="../../../assets/imagenes/gmail.png"></a>
            <a href="https://www.whatsapp.com/" target="_blank">
              <img class="redsocial" src="../../../assets/imagenes/whatsapp.png"></a>
          </div> 
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="form-container">
          <h2 class="footer-heading">CONTACTO</h2>
          <form>
            <div class="form-group">
              <label for="nombre">Nombre:</label>
              <input type="text" id="nombre" name="nombre" placeholder="Tu nombre">
            </div>
            <div class="form-group">
              <label for="correo">Correo:</label>
              <input type="email" id="correo" name="correo" placeholder="Tu correo">
            </div>
            <div class="form-group">
              <label for="mensaje">Mensaje:</label>
              <textarea id="mensaje" name="mensaje" placeholder="Tu mensaje"></textarea>
            </div>
            <button type="button" class="btn-enviar">Enviar</button>
          </form>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <p class="dream-quote">
          "No hay presión cuando haces realidad un sueño"
        </p>
      </div>
    </div>
  </div>
  <div class="w-100 border-top py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-8">
          <p class="copyright">
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | This web page is made by
            @@@@
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>