/* :host {
    font-family: "Roboto Condensed", sans-serif;
}

.navbar {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    display: block;
    background-color: #081858;
    font-weight: 600;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
}

.navbar-content img {
    height: 6rem;
    width: auto;
    margin-right: 2rem; 
}
.align-right {
    justify-content: flex-end;
    text-align: right;
}

.optionsnav {
    font-size: 1.5rem;
    margin-top: 1rem;
}

svg {
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 4rem;
    display: block;

}



.optionsnav {
    font-size: 1.5rem;
}

.menu {
    font-size: 2rem;
    margin-bottom: -0.5rem;
}

.option {
    font-size: 2rem;

    color: white;
}

.option:hover {
    color: #018FE3;
}

.optionsnav a.active {
    color: #018FE3;
    font-size: 2rem;
}

@media screen and (max-width: 1400px) {
    .navbar {
        height: auto;

    }

    .navbar img {
        height: 6rem;
        width: auto;
        margin: 0.1rem;
        margin-right: 20rem;

    }

    svg {
        width: 100%;
        z-index: -1;
    }

    .router-outlet {
        margin-top: -21rem;
    }
}

@media screen and (max-width: 991px) {
    .navbar {
        height: auto;

    }

    .navbar img {
        height: 4rem;
        width: auto;
        margin: 0.1rem;
    }

    svg {
        display: none;
    }

    .router-outlet {
        margin-top: -6rem;
    }

    .menu {
        font-size: 2rem;
        margin-bottom: -0.7rem;
    }
}

@media screen and (max-width: 800px) {
    .navbar {
        height: auto;
    }

    .navbar img {
        margin-top: -2px;
        height: 63px;
        width: 60px;
    }
}

@media screen and (max-width: 575px) {
    .navbar {
        height: auto;
    }

    .navbar img {
        margin-top: -2px;
        height: 63px;
        width: 60px;
    }

}

@media screen and (max-width: 420px) {
    .navbar {
        height: auto;
    }

    .navbar img {
        margin-top: -2px;
        height: 63px;
        width: 60px;
    }
} */
:host {
    font-family: "Roboto Condensed", sans-serif;
}

.navbar {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    display: block;
    background-color: #081858;
    font-weight: 600;
/*     box-shadow: 0px 0px 10px gray;
 */}
.navbar img {
    margin: 1rem;
    height: 6rem;
    width: auto;
}

.optionsnav {
    font-size: 1.7rem;
}

.option {
    color: white;
}

.option:hover {
    color: #018FE3;
}
.optionsnav a.active{
    color: #018FE3;
    font-size: 1.7rem;
}
svg {
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 3rem;
    display: block;

}
@media screen and (max-height: 50px) {
    .top {
      display: none !important;
    }
  }