<app-navbar></app-navbar>
<div class="container top">
  <table>
    <thead>
      <tr>
        <th colspan="11">Tabla de Temporada</th>
      </tr>
      <tr>
        <th>No</th>
        <th>Club</th>
        <th>PJ</th>
        <th>G</th>
        <th>E</th>
        <th>P</th>
        <th>GF</th>
        <th>GC</th>
        <th>GS</th>
        <th>Pts</th>
        <th>Últimos 5</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Club A</td>
        <td>10</td>
        <td>7</td>
        <td>2</td>
        <td>1</td>
        <td>20</td>
        <td>8</td>
        <td>12</td>
        <td>23</td>
        <td>
          <span>D</span>
          <span>W</span>
          <span>D</span>
          <span>L</span>
          <span>W</span>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Club B</td>
        <td>10</td>
        <td>6</td>
        <td>3</td>
        <td>1</td>
        <td>18</td>
        <td>9</td>
        <td>9</td>
        <td>21</td>
        <td>
          <span>W</span>
          <span>W</span>
          <span>L</span>
          <span>W</span>
          <span>D</span>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Club C</td>
        <td>10</td>
        <td>5</td>
        <td>4</td>
        <td>1</td>
        <td>15</td>
        <td>10</td>
        <td>5</td>
        <td>19</td>
        <td>
          <span>D</span>
          <span>L</span>
          <span>W</span>
          <span>W</span>
          <span>D</span>
        </td>
      </tr>
      <tr>
        <td>4</td>
        <td>Club D</td>
        <td>10</td>
        <td>4</td>
        <td>3</td>
        <td>3</td>
        <td>12</td>
        <td>12</td>
        <td>0</td>
        <td>15</td>
        <td>
          <span>L</span>
          <span>D</span>
          <span>D</span>
          <span>W</span>
          <span>L</span>
        </td>
      </tr>
      <tr>
        <td>5</td>
        <td>Club E</td>
        <td>10</td>
        <td>3</td>
        <td>2</td>
        <td>5</td>
        <td>10</td>
        <td>15</td>
        <td>-5</td>
        <td>11</td>
        <td>
          <span>W</span>
          <span>L</span>
          <span>W</span>
          <span>L</span>
          <span>L</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div><app-footer></app-footer></div>