<div class="sidebar">
    <div class="logo">
        <img src="/assets/imagenes/A.png" alt="Logo">
        <h1>FUTBOLI-ADMIN</h1>
    </div>
    <hr>
    <ul>
        <a class="custom-link" routerLink="/Admin-Home">
            <li><i class="fas fa-home"></i> Inicio</li>
        </a>
        <hr>
        <a class="custom-link" routerLink="/Admin-Temporadas">
            <li><i class="far fa-flag"></i> Temporadas</li>
        </a>
        <a class="custom-link" routerLink="/Admin-Categorias">
            <li><i class="fas fa-th-large"></i> Categorías</li>
        </a>
        <a class="custom-link" routerLink="/Admin-RegistroEquipo">
            <li><i class="far fa-address-book"></i> Registros de Equipos</li>
        </a>
        <hr>
        <a class="custom-link" routerLink="/Admin-Equipos">
            <li><i class="fas fa-users"></i> Equipos</li>
        </a>
        <a class="custom-link" routerLink="/Admin-RegistroJugador">
            <li><i class="fas fa-user"></i> Jugadores</li>
        </a>
        <a class="custom-link" routerLink="/Admin-Partidos">
            <li><i class="fas fa-futbol"></i> Partidos</li>
        </a>
        <hr>
        <a class="custom-link" routerLink="/Inicio">
            <li><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</li>
        </a>
    </ul>

</div>
<div>
    <nav class="navbar just">
        <h1>Categorias</h1>
    </nav>
    <div class="content">
        <div class="centered-container card-container">
            <h1>Crea o administra una categoría</h1>
            <h3>Agregue una nueva categoría o seleccione una categoria existente para crear los roles de juego.</h3>
            <div class="card">
                <h2 class="justificado">Incripscion de equipos</h2>
                <form>
                    <label for="nombre-temporada" style="margin-bottom: 2rem;">
                        Complete este formulario para inscribir a un equipo en la liga. Un asterisco
                        (*) indica la información obligatoria.
                    </label>
                    <label for="nombre-temporada" style="margin-bottom: .5rem;">
                        *Ingresa eI nombre de la categoría
                                        </label>
                    <input type="text" id="nombre-temporada" style="font-size: 1rem; margin-bottom: 1rem;">
                    <label for="nombre-temporada" style="margin-bottom: .5rem;">
                        *Seleccione la temporada
                                        </label>
                    <select id="nombre-temporada" style="font-size: 1.5rem; margin-bottom: 2rem;">
             
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <button id="btnGuardar" type="button" class="btn-green">Guardar</button>

                </form>
            </div>
        </div>
    </div>
</div>