<div class="sidebar" id="sidebar">
  <app-sidebar></app-sidebar>
</div>

<nav class="navbar just fixed-navbar">
  <h1>
    <i class="fa-solid fa-window-restore"> Categorias</i>
  </h1>
</nav>
<div class="content">
  <div class="container search-container">
    <div class="search-wrapper">
      <input type="text" class="search-input" placeholder="Buscar Categorías..." [(ngModel)]="searchTerm">
<!--       <button class="custom-button2">Buscar</button>
 -->    </div>
  </div>
  <!-- ------------------- -->

  <!-- Botón para abrir el modal -->
  <div class="button-container top">
    <button class="custom-button " (click)="openModal()">
      <!-- ⚠️🐢tiene ralacion con ts🐢⚠️ -->
      <i class="fas fa-plus"></i> Nueva categoría
    </button>
    <h6 style="margin-top: 1rem;"><b>Primero fije una fila para poder efectar cambios o modificaciones al elemento</b>
    </h6>
  </div>

  <!-- Componente de modal que se muestra condicionalmente -->
  <app-modal-nuevacategorias *ngIf="showModal" (onCloseModal)="closeModal()"></app-modal-nuevacategorias>
  <!-- ⚠️🐢tiene ralacion con ts y con modal-nuevacategorias.component.html 🐢⚠️ -->


  <!-- --------------------- -->
  <div class="table-container scroll">
    <table class="custom-table ">
      <thead> <!-- ejemplo despues se ara con ng*ngFor="" para hacer la habla automatica-->
        <tr>
          <th>No</th>
          <th>Categoría</th>
          <th>Descripcion</th>
          <th>Fechas de Creación</th>
          <th>Menú de Opciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="categorias.length > 0; else noData">
          <!-- <tr *ngFor="let categoria of categorias | filter: searchTerm; let i = index"> -->     
            <tr *ngFor="let categoria of categorias" (click)="seleccionarCategoria(categoria.id, $event.currentTarget)">
              <td>{{ categoria.id }}</td>
            <td>{{ categoria.nombre }}</td>
            <td>
              <button class="button-icon" (click)="openDescripcionModal()">
                <u>Añade una descripción</u>
              </button>
              <!-- Nuevo modal de descripción -->
              <app-modal-descripcioncategorias *ngIf="showDescripcionModal" [categoryId]="categoryId"
                (onCloseModal)="closeDescripcionModal()"></app-modal-descripcioncategorias>
            </td>
            <td>{{ categoria.fechaDeCreacion | date:'dd/MM/yyyy' }}</td>
            <td>
              <button class="button-icon" style="color: blue;" (click)="openEditarModal()">
                <i class="fas fa-edit"></i>
              </button>
              <app-modal-editar-categorias *ngIf="showEditarModal" [categoryId]="categoryId" (onCloseModal)="closeEditarModal()"></app-modal-editar-categorias>

              <button class="button-icon" style="color: red;" (click)="openEliminarModal()">
                <i class="fas fa-trash-alt"></i>
              </button>
              <app-modal-eliminar-categorias *ngIf="showEliminarModal" [categoryId]="categoryId" (onCloseModal)="closeEliminarModal()"></app-modal-eliminar-categorias>
            </td>
          </tr>
        </ng-container>
      </tbody>
      <ng-template #noData>
        <tr>
          <td colspan="5">No se encontraron resultados</td>
        </tr>
      </ng-template>
    </table>
  </div>



</div>