<div class="sidebar">
    <div class="logo">
        <img src="/assets/imagenes/A.png" alt="Logo">
        <h1>FUTBOLI-ADMIN</h1>
    </div>
    <hr>
    <div class="sidebar" id="sidebar">
        <app-sidebar></app-sidebar>
    </div>
</div>
<div>
    <nav class="navbar just">
        <h1>Jugadores</h1>
    </nav>
    <div class="content">
        <input type="text" id="nombre-temporada" style="font-size: 1rem; margin-bottom: 1rem; width: 75%;"
            placeholder="Buscar...">
        <select id="equipo" style="font-size: 1.4rem; margin-bottom: 1rem; margin-left: 1rem; width: 5%;"
            placeholder="Tipo">
            <option value="" disabled selected hidden>Tipo</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>

        <button id="btnGuardar" type="button" class="btn-green"
            style="margin-left: 1rem; border-radius:15px;">Buscar</button>
            <div>
                <h2>Formulario de inscripción</h2>
                <p>Complete este formulario para inscribir a un jugador en la liga. Un asterisco (*) indica la
                    información obligatoria.</p>
            </div>

        <div class="card p-4">

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab"routerLinkActive="active" [routerLink]="['/Identificacion']" >Identificación</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" routerLinkActive="active" [routerLink]="['/Datos-Personales']" >Datos Personales</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" routerLinkActive="active" [routerLink]="['/Contacto']" >Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" routerLinkActive="active" [routerLink]="['/Datos-Fisicos']" >Datos Físicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" routerLinkActive="active" [routerLink]="['/Escolar']" >Escolar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" routerLinkActive="active" [routerLink]="['/Tutor']" >Tutor</a>
                </li>
                <div class="tab-pane" id="Escolar">
                    <!-- contenido pestaña escolar -->
                    <label for="escolaridad">Escolaridad:</label>
                    <input type="text" id="escolaridad" class="form-control">
                    <label for="escuela">Escuela:</label>
                    <input type="text" id="escuela" class="form-control">
                    <label for="grado">Grado:</label>
                    <input type="number" id="grado" class="form-control">
                    <label for="grupo">Grupo:</label>
                    <input type="text" id="grupo" class="form-control">
                </div>
            </ul>