<app-navbar></app-navbar>
<div class="container top">
    <table>
        <thead>
            <tr>
                <th style="text-align: center;" colspan="7 ">
                    <h1>Equipos</h1>
                </th>
            </tr>
            <th colspan="2">Codigo</th>
            <th>Nombre</th>
            <th>PJ</th>
            <th>PA</th>
            <th>G</th>
            <th>Tarjetas</th>
        </thead>
        <tbody>
            <tr>
                <td>00001</td>
                <td style="text-align: center;"><img src="../../../../assets/imagenes/prueba01.jpg" alt="" srcset="">
                </td>
                <td>JESUS SANCHEZ HERNANDEZ</td>
                <td>7</td>
                <td>2</td>
                <td>1</td>
                <td>
                    <span style="color:red"><i class="fa-solid fa-rug"></i></span>
                    <span style="color:rgb(255, 221, 0)"><i class="fa-solid fa-rug"></i></span>
                    <span style="color:green"><i class="fa-solid fa-rug"></i></span>
                    
                </td>
            </tr>
            <tr>
                <td>00001</td>
                <td style="text-align: center;"><img src="../../../../assets/imagenes/prueba01.jpg" alt="" srcset="">
                </td>
                <td>JESUS SANCHEZ HERNANDEZ</td>
                <td>7</td>
                <td>2</td>
                <td>1</td>
                <td>
                    <span style="color:red"><i class="fa-solid fa-rug"></i></span>
                    <span style="color:rgb(255, 221, 0)"><i class="fa-solid fa-rug"></i></span>
                    <span style="color:green"><i class="fa-solid fa-rug"></i></span>
                    
                </td>
            </tr>
            <tr>
                <td>00001</td>
                <td style="text-align: center;"><img src="../../../../assets/imagenes/prueba01.jpg" alt="" srcset="">
                </td>
                <td>JESUS SANCHEZ HERNANDEZ</td>
                <td>7</td>
                <td>2</td>
                <td>1</td>
                <td>
                    <span style="color:red"><i class="fa-solid fa-rug"></i></span>
                    <span style="color:rgb(255, 221, 0)"><i class="fa-solid fa-rug"></i></span>
                    <span style="color:green"><i class="fa-solid fa-rug"></i></span>
                    
                </td>
            </tr>
            <tr>
                <td>00001</td>
                <td style="text-align: center;"><img src="../../../../assets/imagenes/prueba01.jpg" alt="" srcset="">
                </td>
                <td>JESUS SANCHEZ HERNANDEZ</td>
                <td>7</td>
                <td>2</td>
                <td>1</td>
                <td>
                    <span style="color:red"><i class="fa-solid fa-rug"></i></span>
                    <span style="color:rgb(255, 221, 0)"><i class="fa-solid fa-rug"></i></span>
                    <span style="color:green"><i class="fa-solid fa-rug"></i></span>
                    
                </td>
            </tr>
            <tr>
                <td>00001</td>
                <td style="text-align: center;"><img src="../../../../assets/imagenes/prueba01.jpg" alt="" srcset="">
                </td>
                <td>JESUS SANCHEZ HERNANDEZ</td>
                <td>7</td>
                <td>2</td>
                <td>1</td>
                <td>
                    <span style="color:red"><i class="fa-solid fa-rug"></i></span>
                    <span style="color:rgb(255, 221, 0)"><i class="fa-solid fa-rug"></i></span>
                    <span style="color:green"><i class="fa-solid fa-rug"></i></span>
                    
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div><app-footer></app-footer></div>