<div class="top">
  <app-navbar></app-navbar>
</div>
<div class="contenedor">
  <div class="izquierda">
    <div class=imgfondo>
      <img href="/app" src="../../../assets/imagenes/Otro.png" />

    </div>
  </div>
  <div class="derecha">
    <div class="texto">
      <div class="custom-line"></div>
      <div class="custom-line1"></div>
      <div class="texto">
        <h1 class="txt1">LIGA DE FUTBOL DE TEHUACÁN A.C.</h1>
        <h1 class="txt2">SECTOR INFANTIL</h1>
      </div>
      <div class="custom-line1"></div>
      <div class="custom-line"></div>
    </div>
  </div>
</div>

<div class="footer2 ">
<app-footer></app-footer>
</div>