<div class="modal">
    <div class="modal-content">
        <!-- Contenido del modal aquí -->
        <div class="izq">
            <h1>Datos del partido</h1>
        </div>
        <div class="input">
            <form [formGroup]="miFormulario">
                <h4>Lugar:</h4>
                <input id="nombre" type="text" formControlName="nombre" class="category-input"
                    [ngClass]="{ 'error-input': nombre && nombre.invalid && (nombre.dirty || nombre.touched) }">
                <div *ngIf="nombre && nombre.invalid && (nombre.dirty || nombre.touched)">
                    <div *ngIf="nombre.errors?.['required']">El lugar de la categoría es obligatorio.</div>
                    <div *ngIf="nombre.errors?.['pattern']">Solo se permiten letras, números y espacios.</div>
                </div>
                <!-- Para el campo de fecha -->
                <h4>Fecha:</h4>
                <input id="fechaInicio" type="date" class="category-input" formControlName="fechaInicio"
                    [ngClass]="{ 'error-input': miFormulario.get('fechaInicio')?.invalid && (miFormulario.get('fechaInicio')?.dirty || miFormulario.get('fechaPartido')?.touched) }">
                <div
                    *ngIf="miFormulario.get('fechaInicio')?.invalid && (miFormulario.get('fechaInicio')?.dirty || miFormulario.get('fechaInicio')?.touched)">
                    <div *ngIf="miFormulario.get('fechaInicio')?.errors?.['required']">La fecha es obligatoria.</div>
                </div>

                <!-- Para el campo de final -->
                <h4>final:</h4>
                <input id="fechaFin" type="date" class="category-input" formControlName="fechaFin"
                    [ngClass]="{ 'error-input': miFormulario.get('fechaFin')?.invalid && (miFormulario.get('fechaFin')?.dirty || miFormulario.get('fechaFin')?.touched) }">
                <div
                    *ngIf="miFormulario.get('fechaFin')?.invalid && (miFormulario.get('fechaFin')?.dirty || miFormulario.get('fechaFin')?.touched)">
                    <div *ngIf="miFormulario.get('fechaFin')?.errors?.['required']">La final es obligatoria.</div>
                </div>

            </form>
        </div>
        <div class="derecha">
            <button (click)="closeModal()" class="close-button">Cerrar</button>
            <button class="save-button" (click)="Guardar()">Guardar</button>
        </div>
    </div>
</div>