<div class="modal">
    <div class="modal-content">
        <!-- Contenido del modal aquí -->
        <div class="izq">
            <h1>Datos del partido</h1>
        </div>
        <div class="input">
            <form [formGroup]="miFormulario">
                <h4>Lugar:</h4>
                <input id="lugarPartido" type="text" formControlName="lugarPartido" class="category-input"
                    [ngClass]="{ 'error-input': lugarPartido && lugarPartido.invalid && (lugarPartido.dirty || lugarPartido.touched) }">
                <div *ngIf="lugarPartido && lugarPartido.invalid && (lugarPartido.dirty || lugarPartido.touched)">
                    <div *ngIf="lugarPartido.errors?.['required']">El lugar de la categoría es obligatorio.</div>
                    <div *ngIf="lugarPartido.errors?.['pattern']">Solo se permiten letras, números y espacios.</div>
                </div>
                <!-- Para el campo de fecha -->
                <h4>Fecha:</h4>
                <input id="fechaPartido" type="date" class="category-input" formControlName="fechaPartido"
                    [ngClass]="{ 'error-input': miFormulario.get('fechaPartido')?.invalid && (miFormulario.get('fechaPartido')?.dirty || miFormulario.get('fechaPartido')?.touched) }">
                <div
                    *ngIf="miFormulario.get('fechaPartido')?.invalid && (miFormulario.get('fechaPartido')?.dirty || miFormulario.get('fechaPartido')?.touched)">
                    <div *ngIf="miFormulario.get('fechaPartido')?.errors?.['required']">La fecha es obligatoria.</div>
                </div>

                <!-- Para el campo de hora -->
                <h4>Hora:</h4>
                <input id="horaPartido" type="time" class="category-input" formControlName="horaPartido"
                    [ngClass]="{ 'error-input': miFormulario.get('horaPartido')?.invalid && (miFormulario.get('horaPartido')?.dirty || miFormulario.get('horaPartido')?.touched) }">
                <div
                    *ngIf="miFormulario.get('horaPartido')?.invalid && (miFormulario.get('horaPartido')?.dirty || miFormulario.get('horaPartido')?.touched)">
                    <div *ngIf="miFormulario.get('horaPartido')?.errors?.['required']">La hora es obligatoria.</div>
                </div>

            </form>
        </div>
        <div class="derecha">
            <button (click)="closeModal()" class="close-button">Cerrar</button>
            <button class="save-button" (click)="Guardar()">Guardar</button>
        </div>
    </div>
</div>