<div class="modal">
    <div class="modal-content">
        <!-- Contenido del modal aquí -->
        <div class="izq">
            <h1>Editar categoría</h1>
        </div>
        <h5>Edita el nombre de esta categoría.</h5>
        <div class="input">
            <input type="text" placeholder="Nombre de la categoría" class="category-input">
        </div>
        <div class="derecha">
            <button (click)="closeModal()" class="close-button">Cerrar</button>
            <button class="save-button">Guardar</button>
        </div>
    </div>
</div>
