<div class="modal">
    <div class="modal-content">
        <!-- Contenido del modal aquí -->
        <div class="izq">
            <h1>Editar categoría</h1>
        </div>
        <h5>Edita el nombre de esta categoría.</h5>
        <div class="input">
            <form [formGroup]="miFormulario">


                <input id="editarCategoria" type="text" formControlName="editarCategoria" class="category-input"
                    [ngClass]="{ 'error-input': editarCategoria && editarCategoria.invalid && (editarCategoria.dirty || editarCategoria.touched) }">
                <div
                    *ngIf="editarCategoria && editarCategoria.invalid && (editarCategoria.dirty || editarCategoria.touched)">
                    <div *ngIf="editarCategoria.errors?.['required']">El editar de la categoría es obligatorio.</div>
                    <div *ngIf="editarCategoria.errors?.['pattern']">Solo se permiten letras, números y espacios.</div>
                </div>


            </form>

        </div>
        <div class="derecha">
            <button (click)="closeModal()" class="close-button">Cerrar</button>
            <button class="save-button"  (click)="editarCategoriaGuardar()">Guardar</button>
        </div>
    </div>
</div>
