<div class="sidebar" id="sidebar">
    <app-sidebar></app-sidebar>
</div>
<nav class="navbar just fixed-navbar">
    <h1><i class="fa-solid fa-ranking-star"></i> Tablas de posicion</h1>
</nav>
<div class="contenido">
    <div class="content">
        <!-- BUSCADOR PARA LA TABLA DE POCISIONES -->
        <div class="container search-container">
            <div class="search-wrapper">
                <select id="idCategoria" class="search-input" [(ngModel)]="idCategoria" (change)="onChangeCategoria()">
                    <option value="0" disabled selected>Selecciona una categoría...</option>
                    <option *ngFor="let info of getCategorias" value={{info.id}}>{{info.nombre}}</option>
                    <!-- Agrega más opciones según sea necesario -->
                </select>
                <select class="search-input" [(ngModel)]="idTorneoSelecionable" (change)="onChangeTorneo()"
                    *ngIf="torneosDisponibles.length > 0; else noDataTorneos">
                    <option value="0" disabled selected>Selecciona un torneo...</option>
                    <option *ngFor="let info of torneosDisponibles" value={{info.id}}>{{info.nombre}}</option>
                    <!-- Agrega más opciones según sea necesario -->
                </select>
                <ng-template #noDataTorneos>
                    <p colspan="5">No hay torneos registrados con esa categoría.</p>
                </ng-template>
                <button class="custom-button2" (click)="search()"><i class="fa-solid fa-magnifying-glass"></i>
                    Buscar</button>
            </div>
        </div>

        <hr>
        <div>
            <div>
                <h2>Detalles del torneo</h2>
            </div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th style="text-align: center;" colspan="2">Equipo</th>
                        <th>PJ</th>
                        <th>G</th>
                        <th>E</th>
                        <th>P</th>
                        <th>GF</th>
                        <th>GC</th>
                        <th>GS</th>
                        <th>S</th>
                        <th>Pts</th>

                        <th style="text-align: center;" colspan="5">Ultimos 5</th>

                    </tr>
                    <!-- DATOS DE LA TABLA DE POCISIÓN -->
                    <!-- <tr>
                        <td>
                            <img src="../../../../../assets/Imagenes/x.png" alt="" srcset="" style="width: 50px;">
                        </td>
                        <td>Equipo luna <i class="fa-solid fa-frog"></i></td>
                        <td>8</td>
                        <td>8</td>
                        <td>8</td>
                        <td>8</td>
                        <td>8</td>
                        <td>8</td>
                        <td>8</td>
                        <td>8</td>
                        <td style="color: green;"><i class="fa-solid fa-circle-check"></i></td>
                        <td style="color: red;"><i class="fa-solid fa-circle-xmark"></i></td>
                        <td style="color: black;"><i class="fa-solid fa-circle-minus"></i></td>
                        <td style="color: red;"><i class="fa-solid fa-circle-xmark"></i></td>
                        <td style="color: green;"><i class="fa-solid fa-circle-check"></i></td>
                    </tr> -->
                    <tr *ngFor="let info of tablaPocisionesPorTorneo">
                        <td>
                            <img src="../../../../../assets/Imagenes/x.png" alt="" srcset="" style="width: 50px;">
                        </td>
                        <td>{{info.nombre_equipo}}</td>
                        <td>{{info.partidosJugados}}</td>
                        <td>{{info.partidosGanados}}</td>
                        <td>{{info.partidosEmpatados}}</td>
                        <td>{{info.partidosPerdidos}}</td>
                        <td>{{info.golesAfavor}}</td>
                        <td>{{info.golesEnContra}}</td>
                        <td>{{info.diferenciaGoles}}</td>
                        <td>{{info.puntosSancion}}</td>
                        <td>puntos totales</td>
                        <!-- <td><i class="fa-solid fa-frog"></i></td> -->
                        <td style="color: green;"><i class="fa-solid fa-circle-check"></i></td>
                        <td style="color: red;"><i class="fa-solid fa-circle-xmark"></i></td>
                        <td style="color: black;"><i class="fa-solid fa-circle-minus"></i></td>
                        <td style="color: red;"><i class="fa-solid fa-circle-xmark"></i></td>
                        <td style="color: green;"><i class="fa-solid fa-circle-check"></i></td>
                    </tr>

                </tbody>
            </table>
            <div style="margin-top: 3rem;">
                <hr>
            </div>
            <div>
                <!-- Botón para abrir el modal -->
                <div><button class="custom-button2" (click)="openModal()">Abrir modal VALOR DE PUNTOS</button></div>

                <!-- Modal -->
                <app-modal-tabla-posicion-actualizar *ngIf="showModal" (onCloseModal)="closeModal()">
                </app-modal-tabla-posicion-actualizar>
            </div>
        </div>
     

    </div>
</div>