<div class="sidebar" id="sidebar">
    <app-sidebar></app-sidebar>
</div>
<div>
    <nav class="navbar just">
      <h1>Tablas de posicion</h1>
    </nav>
    <div class="content">
        <div class="container search-container">
            <div class="search-wrapper">
                <input type="text" class="search-input" placeholder="Buscar Torneo...">
                <button class="custom-button2">Buscar</button> 
            </div>
        </div><hr>
        <div>
            <div><h1>Temporada de torneo</h1></div>
            <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td></td>
                    <td>Equipo</td>
                    <td>PJ</td>
                    <td>G</td>
                    <td>E</td>
                    <td>P</td>
                    <td>GF</td>
                    <td>GC</td>
                    <td>GS</td>
                    <td>Pts</td>
                    <td></td>
                    <td></td>
                    <td>Ultimos 5</td>
                    <td></td>
                    <td></td>
                    
                  </tr>
                  <tr>
                    <td>
                        <img src="../../../../../assets/imagenes/x.png" alt="" srcset="" style="width: 50px;">
                    </td>
                    <td>equipo luneta</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>8</td>
                    <td>gano</td>
                    <td>perdio</td>
                    <td>empane</td>
                    <td>perdio</td>
                    <td>gano</td>
                  </tr>
                </tbody>
              </table>
        </div>


    </div>
</div>