<div class="sidebar" id="sidebar">
    <app-sidebar></app-sidebar>
</div>
<nav class="navbar just fixed-navbar" >
   <div *ngIf="informacionJugador && informacionJugador.length">
   <h1>
    <i class="fas fa-user"></i> Jugador - {{informacionJugador[0].nombre}} {{informacionJugador[0].apellidoP}} {{informacionJugador[0].apellidoM}}
    <!-- Agrega la interpolación aquí -->
    </h1></div>
</nav>
<div class="content">
    <div class="top">
        <button class="custom-button" routerLink="/Admin-Jugadores">
            <i class="fas fa-chevron-left"></i> Regresar
        </button>
    </div>
</div>
<div class="content">
    <div class="contenedor">

        <div class="lado-izquierdo">
            <div>
                <img src="../../../../../../../assets/Imagenes/x.png" alt="Imagen" class="img" />
            </div>
            <div *ngIf="informacionJugador && informacionJugador.length">
                <h4>{{informacionJugador[0].nombre}} {{informacionJugador[0].apellidoP}} {{informacionJugador[0].apellidoM }} </h4>
                <hr class="limite" />
                <p>Código: <b>{{informacionJugador[0].folio}}</b></p>
            </div>
        </div>
        <div class="lado-derecho">
            <button class="custom-button3" (click)="openEliminarModal()">
                <i class="fa-solid fa-trash"></i> Dar de baja
            </button>
            <app-modal-eliminar-jugador-utils *ngIf="showEliminarModal"
                (onCloseModal)="closeEliminarModal()"></app-modal-eliminar-jugador-utils>
        </div>
    </div>
    <!--  -->
    <br />
    <hr />
    <div>
        <!--  -->
        <div class="content45">

            <div>
                <h2>Formulario de inscripción</h2>
                <p>Complete este formulario para inscribir a un jugador en la liga. Un asterisco (*) indica la
                    información obligatoria.</p>
            </div>
            <hr>
            <div>
                <div>
                    <!-- contenido pestaña identificación -->
                    <h1 style="font-weight: bold; font-size: 1rem;">*Identificador General</h1>
                    <div class="row"  *ngIf="jugador">
                        <p>configurar las clases de los form-control</p>

                        <form [formGroup]="miFormularioTotal">
                            <!-- folio -->
                            <label for="folio">Folio:</label>
                            <input type="number" formControlName="folio" class="form-control"
                                [ngClass]="{ 'error-input': folio && folio.invalid && (folio.dirty || folio.touched) }">
                            <div *ngIf="folio && folio.invalid && (folio.dirty || folio.touched)">
                                <div *ngIf="folio.errors?.['required']">El folio es obligatorio.</div>
                                <div *ngIf="folio.errors?.['pattern']">Solo se permiten números.</div>
                            </div>
                            <!-- selector de id_equiposs -->
                            <label for="id_equipos">id_equipos:</label>
                            <select id="id_equipos" formControlName="id_equipos" class="form-control"
                                [ngClass]="{ 'error-input': id_equipos && id_equipos.invalid && (id_equipos.dirty || id_equipos.touched) }">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                            <div *ngIf="id_equipos && id_equipos.invalid && (id_equipos.dirty || id_equipos.touched)">
                                <div *ngIf="id_equipos.errors?.['required']">Selecciona un id_equipos.</div>
                            </div>
                            <!-- selector de imgJugadors -->
                            <label for="imgJugador">imgJugador:</label>
                            <input type="file" formControlName="imgJugador" class="form-control"
                                [ngClass]="{ 'error-input': imgJugador && imgJugador.invalid && (imgJugador.dirty || imgJugador.touched) }">
                            <div *ngIf="imgJugador && imgJugador.invalid && (imgJugador.dirty || imgJugador.touched)">
                                <div *ngIf="imgJugador.errors?.['required']">Selecciona un imgJugador.</div>
                            </div>
                        </form>
                    </div>
                    <h1 style="font-weight: bold; font-size: 1rem;">*Identificador de datos personales</h1>
                    <div class="row">
                        <form [formGroup]="miFormularioTotal">
                            <label for="nombre">Nombre:</label>
                            <input id="nombre" type="text" formControlName="nombre" class="form-control"
                                [ngClass]="{ 'error-input': nombre && nombre.invalid && (nombre.dirty || nombre.touched) }">
                            <div *ngIf="nombre && nombre.invalid && (nombre.dirty || nombre.touched)">
                                <div *ngIf="nombre.errors?.['required']">El nombre es obligatorio.</div>
                                <div *ngIf="nombre.errors?.['pattern']">Solo se permiten letras y espacios.</div>
                            </div>
                            <!-- apellido Paterno -->
                            <label for="apellidoP">Apellido Paterno:</label>
                            <input id="apellidoP" type="text" formControlName="apellidoP" class="form-control"
                                [ngClass]="{ 'error-input': apellidoP && apellidoP.invalid && (apellidoP.dirty || apellidoP.touched) }">

                            <div *ngIf="apellidoP && apellidoP.invalid && (apellidoP.dirty || apellidoP.touched)">
                                <div *ngIf="apellidoP.errors?.['required']">El apellido paterno es obligatorio.</div>
                                <div *ngIf="apellidoP.errors?.['pattern']">Solo se permiten letras y espacios.</div>
                            </div>
                            <!-- apellido Materno -->
                            <label for="apellidoM">Apellido Materno:</label>
                            <input id="apellidoM" type="text" formControlName="apellidoM" class="form-control"
                                [ngClass]="{ 'error-input': apellidoM && apellidoM.invalid && (apellidoM.dirty || apellidoM.touched) }">

                            <div *ngIf="apellidoM && apellidoM.invalid && (apellidoM.dirty || apellidoM.touched)">
                                <div *ngIf="apellidoM.errors?.['required']">El apellido materno es obligatorio.</div>
                                <div *ngIf="apellidoM.errors?.['pattern']">Solo se permiten letras y espacios.</div>
                            </div>
                            <!-- genero -->
                            <label for="genero">Género:</label>
                            <select id="genero" formControlName="genero" class="form-control">
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                            </select>
                            <!-- nacimientoFecha -->
                            <label for="nacimientoFecha">nacimientoFecha:</label>
                            <input type="date" id="nacimiento" formControlName="nacimientoFecha" class="form-control"
                                formControlName="nacimientoFecha"
                                [ngClass]="{ 'error-input': nacimientoFecha && nacimientoFecha.invalid && (nacimientoFecha.dirty || nacimientoFecha.touched) }">
                            <div
                                *ngIf="nacimientoFecha && nacimientoFecha.invalid && (nacimientoFecha.dirty || nacimientoFecha.touched)">
                                <div *ngIf="nacimientoFecha.errors?.['required']">La nacimientoFecha de nacimiento es
                                    obligatoria.</div>
                            </div>
                            <!-- Curp -->
                            <label for="curp">CURP:</label>
                            <input type="text" id="curp" class="form-control" formControlName="curp"
                                [ngClass]="{ 'error-input': curp && curp.invalid && (curp.dirty || curp.touched) }">
                            <div *ngIf="curp && curp.invalid && (curp.dirty || curp.touched)">
                                <div *ngIf="curp.errors?.['required']">La curp es obligatoria.</div>
                                <div *ngIf="curp.errors?.['pattern']">Solo se permiten letras y numeroExternos.</div>
                            </div>
                        </form>
                    </div>
                    <h1 style="font-weight: bold; font-size: 1rem;">*Identificador de datos de contacto</h1>
                    <div class="row">
                        <!-- contenido pestaña contacto -->
                        <form [formGroup]="miFormularioTotal">
                            <!--  -->
                            <label for="telefono">Teléfono:</label>
                            <input type="number" min="1" id="telefono" formControlName="telefono" class="form-control"
                                [ngClass]="{ 'error-input': tel && tel.invalid && (tel.dirty || tel.touched) }">
                            <div *ngIf="tel && tel.invalid && (tel.dirty || tel.touched)">
                                <div *ngIf="tel.errors?.['required']">El telefono es obligatorio.</div>

                                <div *ngIf="tel.errors?.['pattern']"> Verifique que el número tenga exactamente 10
                                    dígitos.</div>
                            </div>
                            <!--  -->
                            <label for="calle">Calle:</label>
                            <input type="text" id="calle" formControlName="calle" class="form-control"
                                [ngClass]="{ 'error-input': calle && calle.invalid && (calle.dirty || calle.touched) }">
                            <div *ngIf="calle && calle.invalid && (calle.dirty || calle.touched)">
                                <div *ngIf="calle.errors?.['required']">La calle es obligatoria.</div>
                            </div>
                            <!--  -->
                            <label for="numeroExterno">Número:</label>
                            <input type="number" id="numeroExterno" formControlName="numeroExterno" class="form-control"
                                [ngClass]="{ 'error-input': numeroExterno && numeroExterno.invalid && (numeroExterno.dirty || numeroExterno.touched) }">
                            <div
                                *ngIf="numeroExterno && numeroExterno.invalid && (numeroExterno.dirty || numeroExterno.touched)">
                                <div *ngIf="numeroExterno.errors?.['required']">El numeroExterno es obligatorio.</div>
                                <div *ngIf="numeroExterno.errors?.['pattern']">Solo se permiten numeroExternos.</div>
                            </div>
                            <!--  -->
                            <label for="colonia">Colonia:</label>
                            <input type="text" id="colonia" formControlName="colonia" class="form-control"
                                [ngClass]="{ 'error-input': colonia && colonia.invalid && (colonia.dirty || colonia.touched) }">
                            <div *ngIf="colonia && colonia.invalid && (colonia.dirty || colonia.touched)">
                                <div *ngIf="colonia.errors?.['required']">El colonia es obligatorio.</div>
                                <div *ngIf="colonia.errors?.['pattern']">Solo se permiten letras y espacios.</div>
                            </div>
                            <!--  -->
                            <label for="ciudad">ciudad:</label>
                            <input type="text" id="ciudad" formControlName="ciudad" class="form-control"
                                [ngClass]="{ 'error-input': ciudad && ciudad.invalid && (ciudad.dirty || ciudad.touched) }">
                            <div *ngIf="ciudad && ciudad.invalid && (ciudad.dirty || ciudad.touched)">
                                <div *ngIf="ciudad.errors?.['required']">La ciudad es obligatoria.</div>
                            </div>
                            <!--  -->
                            <label for="cp">Código Postal:</label>
                            <input type="number" id="cp" formControlName="cp" class="form-control"
                                [ngClass]="{ 'error-input': codigo && codigo.invalid && (codigo.dirty || codigo.touched) }">
                            <div *ngIf="codigo && codigo.invalid && (codigo.dirty || codigo.touched)">
                                <div *ngIf="codigo.errors?.['required']">El codigo postal es obligatorio.</div>
                            </div>
                        </form>
                    </div>
                    <h1 style="font-weight: bold; font-size: 1rem;">*Datos fisicos</h1>
                    <div class="row" [formGroup]="miFormularioTotal">
                        <label for="estatura">Estatura:</label>
                        <input type="number" id="estatura" formControlName="estatura" class="form-control"
                            [ngClass]="{ 'error-input': estatura && estatura.invalid && (estatura.dirty || estatura.touched) }">
                        <div *ngIf="estatura && estatura.invalid && (estatura.dirty || estatura.touched)">
                            <div *ngIf="estatura.errors?.['required']">La estatura es requerida.</div>
                            <div *ngIf="estatura.errors?.['pattern']">Solo se permiten números.</div>
                        </div>
                        <!--  -->
                        <label for="peso">Peso:</label>
                        <input type="number" id="peso" formControlName="peso" class="form-control"
                            [ngClass]="{ 'error-input': peso && peso.invalid && (peso.dirty || peso.touched) }">
                        <div *ngIf="peso && peso.invalid && (peso.dirty || peso.touched)">
                            <div *ngIf="peso.errors?.['required']">El peso es requerido.</div>
                            <div *ngIf="peso.errors?.['pattern']">Solo se permiten números.</div>
                        </div>
                        <!--  -->
                        <label for="tipoSangre">Tipo de Sangre:</label>
                        <select id="tipoSangre" formControlName="tipoSangre" class="form-control"
                            [ngClass]="{ 'error-input': tipoSangre && tipoSangre.invalid && (tipoSangre.dirty || tipoSangre.touched) }">
                            <option value="O+">O+</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="O-">O-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                        </select>
                        <div *ngIf="tipoSangre && tipoSangre.invalid && (tipoSangre.dirty || tipoSangre.touched)">
                            <div *ngIf="tipoSangre.errors?.['required']">El tipo de sangre es requerido.</div>
                        </div>
                    </div>
                    <h1 style="font-weight: bold; font-size: 1rem;">*Identificador Escolar</h1>
                    <div class="row">
                        <form [formGroup]="miFormularioTotal">
                            <!-- contenido pestaña escolar -->
                            <label for="escolaridad">escolaridad:</label>
                            <select id="escolaridad" formControlName="escolaridad" class="form-control"
                                [ngClass]="{ 'error-input': escolaridad && escolaridad.invalid && (escolaridad.dirty || escolaridad.touched) }">
                                <option value="prescolar">prescolar</option>
                                <option value="primaria">primaria</option>
                                <option value="secundaria">secundaria</option>
                                <option value="preparatoria">preparatoria</option>
                            </select>
                            <div
                                *ngIf="escolaridad && escolaridad.invalid && (escolaridad.dirty || escolaridad.touched)">
                                <div *ngIf="escolaridad.errors?.['required']">Selecciona una escolaridad.</div>
                            </div>
                            <!--  -->
                            <label for="escuela">escuela:</label>
                            <input id="escuela" type="text" formControlName="escuela" class="form-control"
                                [ngClass]="{ 'error-input': escuela && escuela.invalid && (escuela.dirty || escuela.touched) }">
                            <div *ngIf="escuela && escuela.invalid && (escuela.dirty || escuela.touched)">
                                <div *ngIf="escuela.errors?.['required']">El nombre de escuela es obligatorio.</div>
                            </div>
                            <!--  -->
                            <label for="grado">grado:</label>
                            <select id="grado" formControlName="grado" class="form-control"
                                [ngClass]="{ 'error-input': grado && grado.invalid && (grado.dirty || grado.touched) }">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                            </select>
                            <div *ngIf="grado && grado.invalid && (grado.dirty || grado.touched)">
                                <div *ngIf="grado.errors?.['required']">Selecciona un grado.</div>
                            </div>
                            <!--  -->
                            <label for="grupo">grupo:</label>
                            <select id="grupo" formControlName="grupo" class="form-control"
                                [ngClass]="{ 'error-input': grupo && grupo.invalid && (grupo.dirty || grupo.touched) }">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="F">F</option>
                                <option value="G">G</option>
                                <option value="H">H</option>
                                <option value="I">I</option>
                                <option value="J">J</option>
                            </select>
                            <div *ngIf="grupo && grupo.invalid && (grupo.dirty || grupo.touched)">
                                <div *ngIf="grupo.errors?.['required']">Selecciona un grupo.</div>
                            </div>

                        </form>

                    </div>
                    <h1 style="font-weight: bold; font-size: 1rem;">*Identificador Escolar</h1>
                    <div class="row">
                        <form [formGroup]="miFormularioTotal">
                            <!-- contenido pestaña escolar -->
                            <label for="tutor">tutor:</label>
                            <input id="tutor" type="text" formControlName="tutor" class="form-control"
                                [ngClass]="{ 'error-input': tutor && tutor.invalid && (tutor.dirty || tutor.touched) }">
                            <div *ngIf="tutor && tutor.invalid && (tutor.dirty || tutor.touched)">
                                <div *ngIf="tutor.errors?.['required']">El nombre de tutor es obligatorio.</div>
                            </div>
                        </form>
                    </div>
                    <div>
                        <button class="save-button" (click)="guardarInformacion()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>