<div class="modal">
    <div class="modal-content">
        <!-- Contenido del modal aquí -->
        <form [formGroup]="miFormulario" (ngSubmit)="guardarCambios()">
            <div class="izquierda">
                <h1>Suceso del partido</h1>
            </div>
            <div class="input">
                <select formControlName="equipos" name="equipos" class="search-input"
                        [ngClass]="{ 'error-input': miFormulario.get('equipos')?.invalid && miFormulario.get('equipos')?.touched }">
                    <option value="" disabled selected>Selecciona un equipo</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select>
                <select formControlName="seleccionarJugador" name="seleccionarJugador" class="search-input"
                        [ngClass]="{ 'error-input': miFormulario.get('seleccionarJugador')?.invalid && miFormulario.get('seleccionarJugador')?.touched }">
                    <option value="" disabled selected>Selecciona un jugador</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select> 
                <select formControlName="seleccionarSUCESO" name="seleccionarSUCESO" class="search-input"
                        [ngClass]="{ 'error-input': miFormulario.get('seleccionarSUCESO')?.invalid && miFormulario.get('seleccionarSUCESO')?.touched }">
                    <option value="" disabled selected>Selecciona un suceso</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                </select> 
                <textarea style="margin-top: 1rem;" formControlName="escribaCAUSAL" class="category-input"
                          [ngClass]="{ 'error-input': miFormulario.get('escribaCAUSAL')?.invalid && miFormulario.get('escribaCAUSAL')?.touched }"></textarea>
            
                <div *ngIf="miFormulario.get('escribaCAUSAL')?.invalid && miFormulario.get('escribaCAUSAL')?.touched">
                    <div *ngIf="miFormulario.get('escribaCAUSAL')?.errors?.['required']">El editar o añadir un comentario es obligatorio.</div>
                </div>
                
            </div>
            <div class="derecha">
                <button type="button" (click)="closeModal()" class="close-button">Cerrar</button>
                <button type="submit" class="save-button">Guardar</button>
            </div>
        </form>
    </div>
</div>
