:host {
    font-family: "Roboto Condensed", sans-serif;
}

.navbar {
    position: fixed;
    z-index: 100;
    top: 0;
  width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: #081858;
    font-weight: 600;
    height: 95px;
    box-shadow: 0px 0px 10px black;
     
}

.navbar img {
    height: 15rem; /* depende el alto de la imagen se tendra que modificar el rem */
    width: auto;
    margin-left: 35px;
    justify-content: center;
}
svg{
    margin-top: -12rem; /* este rem  ⚠️⚠️SERA VITAL PONERLE UN BUEN RESPONSIVE⚠️⚠️*/ 
    width: 100%;

    z-index: -1;
}
.optionsnav{
    
    margin-right: 30px;
    font-size:25px;
}
.nav-link {
    margin-right: 50px;
}

.option {
    color: white;
}

.option{
margin-top: -4rem;
}
.option:hover {
    color: #018FE3;
}
:host ::ng-deep .navbar-reduced img {
    height: 5rem !important; /* Reducción de altura */
}
:host ::ng-deep .navbar-reduced ul li {
    margin-top: 5rem !important; /* Agregar un margen superior */
}
:host ::ng-deep .navbar-reduced svg {
    margin-top: -8.3rem !important; /* Ajuste del margen */
}


@media screen and (max-width: 1500px) {
    .navbar img {
        height: 9rem; /* depende el alto de la imagen se tendra que modificar el rem */
        width: auto;
        margin-left: 35px;
        justify-content: center;
    } 
    svg{
        margin-top: -8.3rem; /* este rem  ⚠️⚠️SERA VITAL PONERLE UN BUEN RESPONSIVE⚠️⚠️*/ 
        z-index: -1;
    }
}

