<div class="sidebar" id="sidebar">
    <app-sidebar></app-sidebar>
</div>
<nav class="navbar just fixed-navbar">
    <h1>
        <i class="fas fa-user"></i> Registro de jugadores
    </h1>
</nav>
<div class="content">
    <!-- Editable -->
    <div class="container">
        <div class="text-section">
            <p>
                Te damos la bienvenida a la plataforma de gestión de la liga de fútbol AC. </p>
            <p>
                Diseñada con precisión para satisfacer tus necesidades como organizador principal.
                Este sistema te ofrece un control absoluto sobre todos los aspectos de los torneos en la liga,
                desde la creación de categorías hasta el seguimiento de la tabla de posiciones. </p>
            <p>
                ¡Todo al alcance de tus manos!
            </p>
        </div>
        <div class="image-section">
            <img src="../../../../../assets/imagenes/Admin/img(2).png" alt="Rafiki Image">
        </div>
    </div>
    <hr>
    <div>
        <h1 class="center">LO QUE PUEDES HACER</h1>
        <div class="cards">
            <div class="card">
                <img src="../../../../../assets/imagenes/Admin/img(3).png" alt="categorías">
                <hr>
                <h3>CATEGORÍAS</h3>
                <p>Crea categorías facilmente con tan solo unos clicks.</p>
            </div>
            <div class="card">
                <img src="../../../../../assets/imagenes/Admin/img(4).png" alt="Equipos">
                <hr>
                <h3>EQUIPOS</h3>
                <p>Crea, edita y administra equipos sin complicaciones.</p>
            </div>
            <div class="card">
                <img class="unica" src="../../../../../assets/imagenes/Admin/img(5).png" alt="Jugadores">
                <hr>
                <h3>JUGADORES</h3>
                <p>Regista cada jugador como si fueran los héroes de una saga futbolística.</p>
            </div>
        </div>
        <div class="cards">
            <div class="card">
                <img src="../../../../../assets/imagenes/Admin/img(6).png" alt="Roles de Juegos">
                <hr>
                <h3>ROLES DE JUEGOS</h3>
                <p>Crea roles de juego de manera intuitiva y gestiónalos con flexibilidad.</p>
            </div>
            <div class="card">
                <img src="../../../../../assets/imagenes/Admin/img(7).png" alt="Partidos">
                <hr>
                <h3>PARTIDOS</h3>
                <p>Programa, organiza y actualiza los resultados de los partidos en tiempo real.</p>
            </div>
            <div class="card">
                <img src="../../../../../assets/imagenes/Admin/img(1).png" alt="Tablas de posiciones">
                <hr>
                <h3>TABLAS DE POSICIONES</h3>
                <p>Muestra la clasificación actual de los equipos en cada categoría.</p>
            </div>
        </div><br><br>
    </div>
    <hr>
    <div class="recibo-container">
        <h1 class="center-text bold-text">Recibos de la liga</h1>
        <div class="content2">
            <img src="../../../../../assets/imagenes/Admin/img(8).png" class="left-image">
            <p class="text-justified">Genera de manera sencilla los recibos de arbitraje y sanción que se realizan en
                cada partido de la liga.</p>
        </div>
        <button class="custom-button">Generar Recibo</button>
    </div>
    <hr>
    <div class="recibo-container">
        <h1 class="center">¿NECESITAS AYUDA?</h1>
        <p class="txt">Genera de manera sencilla los recibos de arbitraje y sanción que se realizan en cada partido de
            la liga.</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/EE-xtCF3T94?si=o7gE9WAOrwO-ZlpC"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
        <!-- ⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️
             cambiar el iframe cuando se acabe de programar XD 
                ⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️ -->
    </div>

</div>