<div class="sidebar">
    <div class="logo">
        <img src="/assets/imagenes/A.png" alt="Logo">
        <h1>FUTBOLI-ADMIN</h1>
    </div>
    <hr>
    <div class="sidebar" id="sidebar">
        <app-sidebar></app-sidebar>
    </div>
</div>
<div>
    <nav class="navbar just">
        <h1>Home</h1>
    </nav>
    <!-- Editable -->
    <div class="content">

        <div class="cards">
            <div class="card">
                <img src="/assets/imagenes/A.png" alt="Logo">
                <h3>Título de la tarjeta 1</h3>
                <p>Texto descriptivo de la tarjeta 1</p>
            </div>
            <div class="card">
                <img src="/assets/imagenes/A.png" alt="Logo">
                <h3>Título de la tarjeta 1</h3>
                <p>Texto descriptivo de la tarjeta 1</p>
            </div>
            <div class="card">
                <img src="/assets/imagenes/A.png" alt="Logo">
                <h3>Título de la tarjeta 1</h3>
                <p>Texto descriptivo de la tarjeta 1</p>
            </div>
        </div>
    </div>
</div>
