

<div class="sidebar" id="sidebar">
    <app-sidebar></app-sidebar>
</div>
<nav class="navbar just fixed-navbar">
    <h1>
        <i class="fas fa-pencil-alt"></i>
        Rol de Juegos <!-- Agrega la interpolación aquí -->
    </h1>
</nav>
<div class="content">
    <div class="secciones">
        <div class="izq">
            <div class="card"><h4><b>Paso 1: Cree un nuevo tornero</b></h4>
                <div class="title-input">
                    <h5>Nombre del Torneo:</h5>
                    <input type="text" class="search-input" placeholder="Nombre del torneo..."
                        [(ngModel)]="nombreTorneo" [ngClass]="{'error-input': nombreTorneoInvalid && touchedNombre}"
                        (blur)="validateNombre()" (focus)="markNombreAsTouched()">
                    <div *ngIf="nombreTorneoInvalid && touchedNombre" class="error-message">
                        <ng-container *ngIf="!nombreTorneo">
                            Este campo es requerido
                        </ng-container>
                        <ng-container *ngIf="nombreTorneoInvalid">
                            Este campo solo acepta LETRAS y/o NUMEROS
                        </ng-container>
                    </div>



                    <h5>Categoría a Participar:</h5>
                    <select id="categoriaParticipar" class="search-input" name="categoriaParticipar"
                        [(ngModel)]="categoriaParticipar"
                        [ngClass]="{'error-input': categoriaParticiparInvalid && touchedCategoria}"
                        (blur)="validateCategoria()" (focus)="markCategoriaAsTouched()">
                        <option value="" disabled selected>Selecciona una categoría</option>
                        <option *ngFor="let categoria of getCategorias" value= {{categoria.id}} > {{ categoria.nombre }} </option>
                        
                    </select>
                    <div *ngIf="categoriaParticiparInvalid && touchedCategoria" class="error-message">Este campo es
                        requerido</div>
                    <h5>Fechas:</h5>
                    <input type="date" class="search-input" [(ngModel)]="fechas"
                        [ngClass]="{'error-input': fechasInvalid && touchedFechas}" (blur)="validateFechas()"
                        (focus)="markFechasAsTouched()">
                    <div *ngIf="fechasInvalid && touchedFechas" class="error-message">Este campo es requerido</div>
                </div>
                <div class="botones">
                    <button class="cancelar-button" (click)="limpiarInputs()">Cancelar</button>
                    <button class="save-button" (click)="validarYGuardarDatos()">Crear</button>
                </div>
            </div>
            
            <div class="izq2" >
<div class="card">   <div>
    <h4><b>Paso 2: Agrege los equipos participantes</b></h4>
    <h5>Torneo a Participar:</h5>
    <select id="idTorneo" class="search-input" [(ngModel)]="idTorneo" (change)="onChangeTorneo()">
        <option value="" disabled selected>Selecciona un torneo</option>
        <option *ngFor="let torneos of getTorneos" value= {{torneos.id}}  > {{torneos.id}}, {{ torneos.nombre }}, {{ torneos.id_categorias }} </option>
    </select>
    <div class="equipos-select scroll">
        <ul id="equiposParticipantes">
            <li *ngFor="let equipos of equiposSeleccionados">
                {{ equipos.nombre }}
                <button class="custom-button2" (click)="eliminarEquipo(equipos)">
                    <i class="fa-solid fa-xmark cursor"></i>
                </button>
            </li>
        </ul>
    </div>
    <div *ngIf="!equiposSeleccionados.length" class="error-message">
        <b>
            Seleccione mínimo un equipo para poder guardar el rol
        </b>
    </div>
</div>
<div class="select-equipos">
    <input type="text" class="search-input2" [(ngModel)]="searchTerm" placeholder="Buscar equipos...">
    <button class="custom-button" (click)="search()">Buscar</button>
    <div *ngIf="equiposDisponibles.length > 0; else noDataEquipos">
        <div class="scroll" >
            <li *ngFor="let equipos of equiposDisponibles.concat(getBusquedaEquipos)">
                Id:{{equipos.id}}, Nombre de 
                tornero {{ equipos.nombre }}, Tipo de categoria: {{palabraClave  }}
                <button type="button" class="custom-button2" (click)="agregarEquipo(equipos)">
                    <i class="fa-solid fa-plus"></i>Añadir
                </button>
            </li>
        </div>
    </div>
    <ng-template #noDataEquipos>
        <li colspan="5">Selecciona un torneo para agregar equipos</li>
    </ng-template>
    <ng-template #noDataSearchEquipos>
        <li colspan="5">No hay equipos disponibles o que coincidan con tu búsqueda...</li>
    </ng-template>
    <div class="botones">
        <button class="cancelar-button" (click)="limpiarInputsEquipo()">CANCELAR</button>
        <button class="save-button" (click)="validarYGuardarEquipos()">Añadir equipos</button>
    </div>
</div></div>
            </div>
        </div>
        <div class="der">
            <div class="card">
              <div>
                <div>
                  <input type="text" class="search-input3"  [(ngModel)]="searchTorneo" placeholder="Buscar torneos...">
                  <button class="custom-button3" (click)="searchTorneos()">Buscar</button>
                </div>
                <div>
                  <ul id="rolesExistentes">
                    <div class="scroll">
                        <ng-container >
                     
                            <ul *ngIf="getTorneosPlayWithTeams.length || getBusquedaTorneos.length > 0; else noDataTorneos">
                                <button class="custom-button2" >
                                <li *ngFor="let torneosFalse of getTorneosPlayWithTeams.concat(getBusquedaTorneos)"
                                    routerLink="/Rol-de-Juego" (click)="seleccionarTorneo(torneosFalse.id)">
                                    {{ torneosFalse.nombre }} 
                                    <i class="fas fa-external-link-alt"></i>
                                    </li>
                                </button>
                            </ul>
    
                        </ng-container>
                        <ng-template #noDataTorneos>
                            <tr>
                              <td colspan="5">No hay torneos disponibles, crea uno para poder visualizarlo.</td>
                              <button (click)="restaurarTorneosDisponibles()">Restaurar</button>
                            </tr>
                        </ng-template>
                    </div>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
    </div>
</div>
