<div class="sidebar" id="sidebar">
    <app-sidebar></app-sidebar>
</div>
<nav class="navbar just fixed-navbar">
    <h1>
        <i class="fas fa-pencil-alt"></i>
        Rol de Juegos <!-- Agrega la interpolación aquí -->
    </h1>
</nav>
<div class="content">
    <div class="secciones">
        <div class="izq">
            <div class="card">
                <div class="title-input">
                    <h5>Nombre del Torneo:</h5>
                    <input type="text" class="search-input" placeholder="Nombre del torneo...">
                    <h5>Categoría a Participar:</h5>
                    <select id="categoriaParticipar" class="search-input" name="categoriaParticipar" required>
                        <option value="categoria1">Categoría 1</option>
                        <option value="categoria2">Categoría 2</option>
                    </select>
                    <h5>Fechas:</h5>
                    <input type="date" class="search-input">
                </div>
                <div>
                    <h3>Equipos Participantes</h3>
                    <div class="equipos-select scroll">

                        <ul id="equiposParticipantes ">
                            <li>Equipo A <button class="custom-button2"><i
                                        class="fa-solid fa-xmark cursor"></i></button></li>
                            <li>Equipo B <button class="custom-button2"><i
                                        class="fa-solid fa-xmark cursor"></i></button></li>
                            <li>Equipo C <button class="custom-button2"><i
                                        class="fa-solid fa-xmark cursor"></i></button></li>
                            <!-- Puedes agregar más equipos según sea necesario -->
                        </ul>
                    </div>
                </div>
                <div class="select-equipos">
                    <input type="text" class="search-input2" placeholder="Buscar Categorías...">
                    <button class="custom-button">Buscar</button>
                    <div class="scroll">
                        <li>Equipo A
                            <button type="button" routerLink="/Rol-de-Juego" class="custom-button2">
                                <i class="fa-solid fa-plus">
                                </i>Añadir
                            </button>
                        </li>
                        <li>Equipo B
                            <button type="button" routerLink="/Rol-de-Juego" class="custom-button2">
                                <i class="fa-solid fa-plus">
                                </i>Añadir
                            </button>
                        </li>
                        <li>Equipo C
                            <button type="button" routerLink="/Rol-de-Juego" class="custom-button2">
                                <i class="fa-solid fa-plus">
                                </i>Añadir
                            </button>
                              </div>
                    <div class="botones">
                        <button class="cancelar-button">CANCELAR</button>
                        <button class="save-button">Crear</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="der">
            <div class="card">

                <div>
                    <div class>
                        <input type="text" class="search-input3" placeholder="Buscar Categorías...">
                        <button class="custom-button3">Buscar</button>
                    </div>
                    <div>
                        <ul id="rolesExistentes">
                            <div class="scroll">
                                <ul id="rolesExistentes">
                                    <li>Rol 1
                                        <button type="button" routerLink="/Rol-de-Juego" class="custom-button2">
                                            <i class="fas fa-external-link-alt"></i>
                                        </button>
                                    </li>
                                    <li>Rol 1
                                        <button type="button" routerLink="/Rol-de-Juego" class="custom-button2">
                                            <i class="fas fa-external-link-alt"></i>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>