<div class="modal">
    <div class="modal-content">
        <!-- Contenido del modal aquí -->
        <div class="izq">
            <h1>Registrar equipo</h1>
            <!-- Otros campos de registro del equipo -->
        </div>
        <div class="input">
            <input type="text" placeholder="Nombre del equipo" class="category-input">
        </div>
        <div class="derecha">
            <button (click)="closeModal()" class="close-button">Cerrar</button>
            <button class="save-button" (click)="guardarEquipo()">Guardar</button>
        </div>
    </div>
</div>