
                    <!-- contenido pestaña escolar -->
                    <label for="escolaridad">Escolaridad:</label>
                    <input type="text" id="escolaridad" class="form-control">
                    <label for="escuela">Escuela:</label>
                    <input type="text" id="escuela" class="form-control">
                    <label for="grado">Grado:</label>
                    <input type="number" id="grado" class="form-control">
                    <label for="grupo">Grupo:</label>
                    <input type="text" id="grupo" class="form-control">
        