<div class="card p-4">
    <div class="tab-pane active" id="Identificacion">
        <h1 style="font-weight: bold; font-size: 1rem;">*Identificador de datos de contacto</h1>
        <div class="row">
            <!-- contenido pestaña contacto -->
            <form [formGroup]="miFormulario">
                <!--  -->
                <label for="telefono">Teléfono:</label>
                <input type="number" min="1" id="telefono" formControlName="telefono" class="form-control"
                    [ngClass]="{ 'error-input': tel && tel.invalid && (tel.dirty || tel.touched) }">
                <div *ngIf="tel && tel.invalid && (tel.dirty || tel.touched)">
                    <div *ngIf="tel.errors?.['required']">El telefono es obligatorio.</div>
               
                    <div *ngIf="tel.errors?.['pattern']">  Verifique que el número tenga exactamente 10 dígitos.</div>
                </div>
                <!--  -->
                <label for="calle">Calle:</label>
                <input type="text" id="calle" formControlName="calle" class="form-control"
                    [ngClass]="{ 'error-input': calle && calle.invalid && (calle.dirty || calle.touched) }">
                <div *ngIf="calle && calle.invalid && (calle.dirty || calle.touched)">
                    <div *ngIf="calle.errors?.['required']">La calle es obligatoria.</div>
                </div>
                <!--  -->
                <label for="numero">Número:</label>
                <input type="number" id="numero" formControlName="numero" class="form-control"
                    [ngClass]="{ 'error-input': numero && numero.invalid && (numero.dirty || numero.touched) }">
                <div *ngIf="numero && numero.invalid && (numero.dirty || numero.touched)">
                    <div *ngIf="numero.errors?.['required']">El numero es obligatorio.</div>
                    <div *ngIf="numero.errors?.['pattern']">Solo se permiten numeros.</div>
                </div>
                <!--  -->
                <label for="colonia">Colonia:</label>
                <input type="text" id="colonia" formControlName="colonia" class="form-control"
                    [ngClass]="{ 'error-input': colonia && colonia.invalid && (colonia.dirty || colonia.touched) }">
                <div *ngIf="colonia && colonia.invalid && (colonia.dirty || colonia.touched)">
                    <div *ngIf="colonia.errors?.['required']">El colonia es obligatorio.</div>
                    <div *ngIf="colonia.errors?.['pattern']">Solo se permiten letras y espacios.</div>
                </div>
                <!--  -->
                <label for="ciudad">ciudad:</label>
                <input type="text" id="ciudad" formControlName="ciudad" class="form-control"
                    [ngClass]="{ 'error-input': ciudad && ciudad.invalid && (ciudad.dirty || ciudad.touched) }">
                <div *ngIf="ciudad && ciudad.invalid && (ciudad.dirty || ciudad.touched)">
                    <div *ngIf="ciudad.errors?.['required']">La ciudad es obligatoria.</div>
                </div>
                <!--  -->
                <label for="codigoPostal">Código Postal:</label>
                <input type="number" id="codigoPostal" formControlName="codigoPostal" class="form-control"
                    [ngClass]="{ 'error-input': codigo && codigo.invalid && (codigo.dirty || codigo.touched) }">
                <div *ngIf="codigo && codigo.invalid && (codigo.dirty || codigo.touched)">
                    <div *ngIf="codigo.errors?.['required']">El codigo postal es obligatorio.</div>
                </div>
            </form>
        </div>
        <div>
            <button class="save-button" (click)="guardarInformacion()">Guardar</button>
        </div>
    </div>
</div>