<div class="sidebar" id="sidebar">
    <app-sidebar></app-sidebar>
</div>

<nav class="navbar just fixed-navbar">
    <h1>
        <i class="fas fa-users"></i> Equipo / poner interpolacion de titulo XD
    </h1>
</nav>
<div class="content">
    <div class="top">
        <button class="custom-button" routerLink="/Admin-Equipos">
            <i class="fas fa-chevron-left"></i> Regresar
        </button>
    </div>
    <div class="search-container">
        <div class="search-wrapper">
            <input type="text" class="search-input" placeholder="Buscar Categorías...">
            <button class="custom-button2">Buscar</button>
        </div>
    </div>
    <!-- ------------------- -->

    <!-- Botón para abrir el modal -->
    <div class="button-container">
        <button class="custom-button" (click)="openDirectorModal()">
            <!-- ⚠️🐢tiene ralacion con ts🐢⚠️ -->
            <i class="fas fa-plus"></i> Añadir Director Tecnico
        </button>
        <app-modalutilsequipos-registrodirectortecnico *ngIf="showDirectorModal"
            (onCloseModal)="closeDirectorModal()"></app-modalutilsequipos-registrodirectortecnico>



        <button class="custom-button" (click)="openPresidenteModal()">
            <!-- ⚠️🐢tiene ralacion con ts🐢⚠️ -->
            <i class="fas fa-plus"></i> Añadir presidente
        </button>
        <app-modalutilsequipos-registrodelpresidente *ngIf="showPresidenteModal"
            (onCloseModal)="closePresidenteModal()"></app-modalutilsequipos-registrodelpresidente>
    </div>



    <!-- --------------------- -->
    <div class="table-container">
        <table class="custom-table">
            <thead> <!-- ejemplo despues se ara con ng*ngFor="" para hacer la habla automatica-->
                <tr>
                    <th>No</th>
                    <th>Nombre</th>
                    <th>Cargo</th>
                    <th>Menú de Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Superman</td>

                    <!--  -->
                    <td>
                        Director tecnico

                    </td>
                    <!--  -->


                    <td>
                        <button class="button-icon" style="color: blue;" (click)="openEditarModal()">
                            <i class="fas fa-edit"></i>
                        </button>
                            <app-modalutilsequipos-editar *ngIf="showEditarModal" (onCloseModal)="closeEditarModal()"></app-modalutilsequipos-editar>

                        <button class="button-icon" style="color: red;" (click)="openEliminarModal()">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                            <app-modalutilsequipos-eliminar *ngIf="showEliminarModal" (onCloseModal)="closeEliminarModal()"></app-modalutilsequipos-eliminar>

                    </td>
                </tr>

            </tbody>
        </table>
    </div>



</div>