<div class="sidebar" id="sidebar">
    <app-sidebar></app-sidebar>
</div>

<nav class="navbar just fixed-navbar">
    <h1>
        <i class="fas fa-users"></i> Equipo / poner interpolacion de titulo XD
    </h1>
</nav>
<div class="content">
    <div class="top">
        <button class="custom-button" routerLink="/Admin-Equipos">
            <i class="fas fa-chevron-left"></i> Regresar
        </button>
    </div>

    <!-- Botón para abrir el modal -->
    <div class="button-container">
        <button class="custom-button" (click)="openDirectorModal()">
            <!-- ⚠️🐢tiene ralacion con ts🐢⚠️ -->
            <i class="fas fa-plus"></i> Añadir
        </button>
        <app-modalutilsequipos-registrodirectortecnico *ngIf="showDirectorModal"
            (onCloseModal)="closeDirectorModal()"></app-modalutilsequipos-registrodirectortecnico>
    </div>



    <!-- --------------------- -->
    <div class=" scroll table-container">
        <table class="custom-table ">
            <thead> <!-- ejemplo despues se ara con ng*ngFor="" para hacer la habla automatica-->
                <tr>
                    <th>No</th>
                    <th>Nombre</th>
                    <th>Cargo</th>
                    <th>Menú de Opciones</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="tecDir.length > 0; else noData">
                    <tr *ngFor="let tecDir of tecDir ">
                        <td>{{ tecDir.id }}</td>
                        <td>{{ tecDir.nombre }}</td>
                        <td>{{ tecDir.cargo }}</td>

                        <td><span>
                            <button class="button-icon" style="color: blue;" (click)="openEditarModal()">
                                <i class="fas fa-edit"></i>
                            </button></span>
                            <app-modalutilsequipos-editar *ngIf="showEditarModal"
                                (onCloseModal)="closeEditarModal()"></app-modalutilsequipos-editar>
<span>
                            <button class="button-icon" style="color: red;" (click)="openEliminarModal()">
                                <i class="fas fa-trash-alt"></i>
                            </button></span>
                            <app-modalutilsequipos-eliminar *ngIf="showEliminarModal"
                                (onCloseModal)="closeEliminarModal()"></app-modalutilsequipos-eliminar>

                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>

    <hr>


    <h1>Lista jugadores</h1>
    <div class="scroll table-container">
        <table class="custom-table">
            <thead> <!-- ejemplo despues se ara con ng*ngFor="" para hacer la habla automatica-->
                <tr>
                    <th>No</th>
                    <th>Nombre</th>
                    <th>Posicion</th>
                    <th>partidos jugados</th>
                    <th>Partidos ausentados</th>
                    <th>Goles</th>
                    <th>Tarjetas amarillas</th>
                    <th>Tarjetas rojas</th>
                    <th>Mas opciones</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="jugadores.length > 0; else noData">
                    <tr *ngFor="let jugadores of jugadores">
                        <td>{{ jugadores.id }}</td>
                        <td>{{ jugadores.nombre }}</td>
                        <td>{{ jugadores.posicion }}</td>
                        <td>{{ jugadores.partidosJugados }}</td>
                        <td>{{ jugadores.partidosAusentados }}</td>
                        <td>{{ jugadores.goles }}</td>
                        <td>{{ jugadores.tarjetasAmarillas }}</td>
                        <td>{{ jugadores.tarjetasRojas }}</td>

                        <td>
                            <!--  -->
                            <button class="button-icon" style="color: blue;" (click)="openPresidenteModal()">
                                <i class="fas fa-edit"></i>
                            </button> <app-modalutilsequipos-registrodelpresidente *ngIf="showPresidenteModal"
                                (onCloseModal)="closePresidenteModal()"></app-modalutilsequipos-registrodelpresidente>

                            <button class="button-icon" style="color: red;" (click)="openEliminarJugadorModal()">
                                <i class="fas fa-trash-alt"></i>
                            </button><app-modal-eliminarjugadorutils *ngIf="showEliminarJugadorModal"
                                (onCloseModal)="closeEliminarJugadorModal()"></app-modal-eliminarjugadorutils>

                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div><hr>
    <div class="card">
        <div class="container Altura">
            <div class="select-equipos">
                <input type="text" class="search-input" placeholder="Buscar Categorías..." [(ngModel)]="searchTerm">
                <!--       <button class="custom-button2">Buscar</button>
                 -->
                <div>
                    <div class="scroll2 Altura ">
                        <table class="custom-table">
                            <thead>

                                <tr>
                                    <th>No.</th>
                                    <th>Nombre</th>
                                    <th>selecion</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="ljugador.length > 0; else noData">
                                    <tr *ngFor="let categoria of ljugador | filter: searchTerm; let i = index">
                                        <td>{{ categoria.id }}</td>
                                        <td>{{ categoria.nombre }}</td>

                                        <td> <button type="button" class="custom-button2">
                                                <i class="fa-solid fa-plus"></i>Añadir
                                            </button></td>
                                    </tr>
                                </ng-container>
                            </tbody>
                            <ng-template #noData>
                                <tr>
                                    <td colspan="3">No se encontraron resultados</td>
                                </tr>
                            </ng-template>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<!-- ------------------- -->