.just {
    margin-left: 25rem
}

.content {
    margin-left: 25rem;
    /* porcentaje de izquierda y libre */
    padding: 2rem;
}

.navbar {
    background-color: #078cb4;
    color: #011F3A;
    /* color letra */
    padding: 10px;
    border-bottom: 2px solid #011F3A
}

.top {
    margin-top: 5rem;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Asegura que el navbar esté por encima de otros elementos */
/* Asegura que el navbar esté por encima de otros elementos */
.scroll {
  overflow-y: auto;
  max-height: 200px;
}
.custom-table thead {
  position: sticky;
  top: -0.2px;
  background-color: #FEE2C5; /* Puedes ajustar el color de fondo según tus preferencias */
  z-index: 2; /* Asegura que esté por encima del contenido de la tabla */
}
.scroll2 {
  margin-left: auto; /* Margen izquierdo automático */
  margin-right: auto; /* Margen derecho automático */
  overflow-y: auto;
  max-height: 250px;
  width: 25rem;
}
/* ///////////////////////////////////////////////////////////////////// */

/*  */
.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
  width:10px;
}

.scroll::-webkit-scrollbar-button:increment,.scroll::-webkit-scrollbar-button {
  display: none;
} 

.scroll::-webkit-scrollbar:horizontal {
  height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #081858;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;  
}
/*  */
.scroll2::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll2::-webkit-scrollbar:vertical {
  width:10px;
}

.scroll2::-webkit-scrollbar-button:increment,.scroll::-webkit-scrollbar-button {
  display: none;
} 

.scroll2::-webkit-scrollbar:horizontal {
  height: 10px;
}

.scroll2::-webkit-scrollbar-thumb {
  background-color: #081858;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.scroll2::-webkit-scrollbar-track {
  border-radius: 10px;  
}

/* ///////////////////////////////////////////////////////////////////// */
.card {
  padding: 1.4rem;
}

.search-input {
  text-align: left;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 1.3rem;
  margin-top: 0.2rem;
  width: 99%;
}

.custom-button2 {
  color: rgb(0, 0, 0);
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  cursor: pointer;
}

/*---------------------------------------------*/
.Altura{margin-top: 2rem;}
.equipos-select {
  width: 45%;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #878787;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*---------------------------------------------*/
.search-input2 {
  text-align: left;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 1rem 0rem;
  width: 70%;
}

.custom-button4 {
  background-color: #FEE2C5;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0rem 1rem;
}
/*---------------------------------------------*/



.button-container {
    text-align: left;
}

.custom-button {
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0.5rem 1rem 0.5rem 0.5rem;
    /* ⬆️    ⬅️   ⬇️    ➡️ */

}


.custom-button i {
    margin-right: 5px;
}

.custom-button2 {
  color: rgb(0, 0, 0);
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  cursor: pointer;
}
/*  */

/* Agrega estilos para la ventana emergente (modal) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

/* Estilo adicional para ocultar el input y los botones por defecto */
.modal-content input,
.modal-content button {
    display: block;
    margin-bottom: 10px;
}


/* ---------------------------------------- */
.table-container {
    margin: 1.5rem;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.custom-table th,
.custom-table td {
    width: auto;
    /* Distribuye el ancho en 5 columnas */
    border: 1px solid #ddd;
    padding: 5px;
    text-align: left;
}

.custom-table th {
    background-color: #FEE2C5;
}

.custom-table tbody tr:hover {
    background-color: #f5f5f5;
}

.custom-table i {
    margin-right: 2rem;
}

/* ----------------------------------------- */
/* Estilos para el botón con solo el icono */
.button-icon {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    /* Elimina cualquier relleno interior del botón */
    font-size: inherit;
    /* Hereda el tamaño de fuente del contenedor */
    color: inherit;
    /* Hereda el color del contenedor */
    margin-left: 2rem;

}

.fas {
    font-size: 2rem;
}

.fa-chevron-left {
    font-size: 1rem;
}@media screen and (max-width: 1500px) {
    .container {
      margin: 1rem;
  
    }
    .search-container {
      height: 5rem;
 }
    .logo h1 {
      font-size: 1rem;
    }
  
    .sidebar {
      width: 17rem;
    }
  
    .just {
      margin-left: 17rem
    }
  
    .content {
      margin-left: 17rem;
      padding: 20px;
    }
  
    /* ------------------------ */
    .search-input {
       padding: 0.5rem 15rem 0.5rem 1rem;
       }
  }/* ------------------------------------------ */
  @media screen and (max-width: 900px) {
    .sidebar {
      width: 13rem;
    }
  
    .just {
      margin-left: 13rem
    }
  
    .content {
      margin-left: 13rem;
      padding: 20px;
    }
  
   /* ------------------------ */
   .search-input {
    padding: 0.5rem 10rem 0.5rem 1rem;
    }.fa-plus,.custom-button {
  
      font-size: 1rem;
     
    }
  }
  /* ------------------------------------------ */
  
  @media screen and (max-width: 500px) {
    .just {
      margin-left: 4rem;
    }
    .content {
      margin-left: 4rem;
      padding: 1rem;
    }
    /* ------------------- */
    .search-wrapper {
      margin-left: -4rem;
      text-align: center;
    }
    .search-input {
      margin-left: 4.2rem;
      padding: 0.5rem 0rem 0.5rem 0.5rem;
      }
  
  }