<div class="modal">
    <div class="modal-content">
        <!-- Contenido del modal aquí -->
        <div class="izq">
            <h1>Nueva categoría</h1>
        </div>
        <h5>Cree una categoría nueva.</h5>

        <div class="input">
            <form [formGroup]="miFormulario">

                <input id="nombre" type="text" formControlName="nombre" class="category-input"
                    [ngClass]="{ 'error-input': nombre && nombre.invalid && (nombre.dirty || nombre.touched) }">
                <div *ngIf="nombre && nombre.invalid && (nombre.dirty || nombre.touched)">
                    <div *ngIf="nombre.errors?.['required']">El nombre de la categoría es obligatorio.</div>
                    <div *ngIf="nombre.errors?.['pattern']">Solo se permiten letras, números y espacios.</div>
                </div><!-- Campo de edad mínima -->
                <h5>Edad mínima</h5>
                <input id="edadMin" type="number" formControlName="edadMin" class="category-input"
                    [ngClass]="{ 'error-input': miFormulario.get('edadMin')?.invalid && (miFormulario.get('edadMin')?.dirty || miFormulario.get('edadMin')?.touched) }">
                <div *ngIf="miFormulario.get('edadMin')?.invalid && (miFormulario.get('edadMin')?.dirty || miFormulario.get('edadMin')?.touched)">
                    <div *ngIf="miFormulario.get('edadMin')?.errors?.['required']">La edad mínima es obligatoria.</div>
                    <div *ngIf="miFormulario.get('edadMin')?.errors?.['pattern']">Ingrese un número válido entre 1 y 99.</div>
                </div>
                
                <!-- Campo de edad máxima -->
                <h5>Edad máxima</h5>
                <input id="edadMax" type="number" formControlName="edadMax" class="category-input"
                    [ngClass]="{ 'error-input': miFormulario.get('edadMax')?.invalid && (miFormulario.get('edadMax')?.dirty || miFormulario.get('edadMax')?.touched) }">
                <div *ngIf="miFormulario.get('edadMax')?.invalid && (miFormulario.get('edadMax')?.dirty || miFormulario.get('edadMax')?.touched)">
                    <div *ngIf="miFormulario.get('edadMax')?.errors?.['required']">La edad máxima es obligatoria.</div>
                    <div *ngIf="miFormulario.get('edadMax')?.errors?.['pattern']">Ingrese un número válido entre 1 y 99.</div>
                </div>
                
            </form>
        </div>
        <div class="derecha">
            <button (click)="closeModal()" class="close-button">Cerrar</button>
            <button class="save-button" (click)="guardarCategoria()">Guardar</button>
        </div>
    </div>
</div>