<div class="modal">
    <div class="modal-content">
        <!-- Contenido del modal aquí -->
        <div class="izq">
            <h1>Nueva categoría</h1>
        </div>
        <h5>Cree una categoría nueva.</h5>

        <div class="input">
            <form [formGroup]="miFormulario">


                <input id="nombreCategoria" type="text" formControlName="nombreCategoria" class="category-input"
                    [ngClass]="{ 'error-input': nombreCategoria && nombreCategoria.invalid && (nombreCategoria.dirty || nombreCategoria.touched) }">
                <div
                    *ngIf="nombreCategoria && nombreCategoria.invalid && (nombreCategoria.dirty || nombreCategoria.touched)">
                    <div *ngIf="nombreCategoria.errors?.['required']">El nombre de la categoría es obligatorio.</div>
                    <div *ngIf="nombreCategoria.errors?.['pattern']">Solo se permiten letras, números y espacios.</div>
                </div>


            </form>

        </div>
        <div class="derecha">
            <button (click)="closeModal()" class="close-button">Cerrar</button>
            <button class="save-button" (click)="guardarCategoria()">Guardar</button>
        </div>
    </div>
</div>