<div class="sidebar" id="sidebar">
  <app-sidebar></app-sidebar>
</div>

<div>
  <nav class="navbar just">
    <h1>Partidos</h1>
  </nav>
  <div class="content top"> <button class="añadir" routerLink="/Admin-Partidos"><i class="fas fa-chevron-left"></i> Regresar</button>
  </div>
  <div class="content">
    <div class="card">
      <div class="selection-temporada">
        <h3><b>Partidos de la temporada</b></h3>
        <select id="temporadas" class="form-select mb-3" aria-label="Selecciona torneo">
          <option selected>Selecciona torneo</option>
          <option value="temp1">Temporada 1</option>
          <option value="temp2">Temporada 2</option>
          <option value="temp3">Temporada 3</option>
          <option value="temp4">Temporada 4</option>
        </select>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>Equipo 1</td>
              <td>-</td>
              <td>0</td>
              <td>VS</td>
              <td>0</td>
              <td>-</td>
              <td>Equipo 2</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="divison">
        <div class="izq">
          <h2>Goles anotados:</h2>
          <input class="search-input2" min="0" type="number" [(ngModel)]="goles.izq.golesAnotados">
          <h2>Goles en contra:</h2>
          <input class="search-input2" min="0" type="number" [(ngModel)]="goles.izq.golesEnContra">
        </div>
        <div class="der">
          <h2>Goles anotados:</h2>
          <input class="search-input2" min="0" type="number" [(ngModel)]="goles.der.golesAnotados">
          <h2>Goles en contra:</h2>
          <input class="search-input2" min="0" type="number" [(ngModel)]="goles.der.golesEnContra">
        </div>

      </div>

      <div><button class="save-button2" (click)="guardar1()">Guardar</button></div>

      <hr>
      <div class="divison">
        <div class="izq card">
          <h2>Equipamiento de recursos</h2>
          <input class="search-input" type="text" placeholder="equipo:" [(ngModel)]="equipoInfo.equipos">
          <div class="divison2">
            <div class="izq">
              <h3>Botiquín:</h3>
              <h3>Balones: </h3>
              <h3>Gafete de capitan: </h3>
              <h3>D.T.: </h3>
            </div>
            <div class="der">
              <h3>
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="equipoInfo.botiquin"
                    (change)="onSwitchChange('Botiquin', $event)">
                  <span class="slider round"></span>
                </label>
              </h3>
              <h3>
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="equipoInfo.balones" (change)="onSwitchChange('Balones', $event)">
                  <span class="slider round"></span>
                </label>
              </h3>
              <h3>
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="equipoInfo.gafete" (change)="onSwitchChange('Gafete', $event)">
                  <span class="slider round"></span>
                </label>
              </h3>
              <h3>
                <label class="switch">
                  <input type="checkbox" [(ngModel)]="equipoInfo.dt" (change)="onSwitchChange('DT', $event)">
                  <span class="slider round"></span>
                </label>
              </h3>
            </div>
          </div>
          <div class="botones">
            <button class="cancelar-button">CANCELAR</button>
            <button class="save-button" (click)="guardar()">Guardar</button>
          </div>
        </div>
        <div class="der card">
          <h2>Equipos Visitante amonestado:</h2>
          <input class="search-input" type="text" placeholder="Equipo:" [(ngModel)]="amonestaciones.equipo">
          <input class="search-input" type="text" placeholder="Código:" [(ngModel)]="amonestaciones.codigo">
          <input class="search-input" type="text" placeholder="Casual:" [(ngModel)]="amonestaciones.casual">
          <div class="botones">
            <button class="cancelar-button">CANCELAR</button>
            <button class="save-button" (click)="guardarAmonestaciones()">Guardar</button>
          </div>
        </div>

      </div>
      <hr>
      <div class="card p-4">
        <div class="tab-pane active" id="Identificacion">
          <table class="table">
            <thead style="text-align: center;">
              <tr>
                <th>No.</th>
                <th>Nombre completo</th>
                <th>Fecha</th>
                <th>Asistencia</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>00000</td>
                <td>JESUS SANCHEZ HERNANDEZ</td>
                <td><input type="date"></td>
                <td><label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                  </label></td>
              </tr>

            </tbody>
          </table>
        </div>
        <div>
          <button class="añadir"><i class="fa-solid fa-plus"></i> añadir</button>
        </div>
        <div>
          <div class="botones">
            <button class="cancelar-button">CANCELAR</button>
            <button class="save-button">Guardar</button>
          </div>
        </div>
      </div>
    </div>
  </div>