<div>
    <app-navbar></app-navbar>
</div>
<div class="top">
    <div class="secciones">
        <div class="izq">
            <h2><b>Acerca de nostros?</b></h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae corrupti ratione ipsum reiciendis, ad in nihil! Laborum, consequuntur expedita? Accusantium, veniam rem iusto ratione nesciunt odit tempora natus aliquid illo.
                Voluptas repellendus officia quasi, aliquid similique soluta amet ratione, porro incidunt explicabo, veritatis reiciendis eos est dolorum quidem. Voluptate doloribus aliquam quis. Explicabo earum assumenda quos nemo animi impedit atque!
                Impedit facilis explicabo, quidem cum et temporibus laudantium? Impedit rem possimus dolore ipsa vero. Voluptatibus exercitationem, delectus et eum officia placeat. Non vitae sequi iure quidem, corrupti consequuntur aut! Ipsa!
                Veniam maxime facere ex, labore temporibus optio quibusdam, architecto vel omnis placeat distinctio facilis incidunt dolor nulla deleniti quae perspiciatis? Quo praesentium recusandae magni vero iure tempore soluta distinctio! Error.
                Obcaecati, harum impedit cum est, et reprehenderit corporis dolorem rerum eos voluptatem eligendi eveniet in reiciendis nisi hic recusandae minima. Ipsum ducimus totam qui, quibusdam similique illum vero eum ratione!
                Illum architecto sit magni voluptate vel, fugiat distinctio nulla quas accusantium accusamus voluptas deserunt voluptatibus commodi maiores nesciunt nemo cupiditate nisi quod ut earum saepe iure provident laboriosam doloremque. Voluptas!
                Fuga sequi magni molestias numquam nisi. Ipsum eius aspernatur modi reprehenderit quisquam deserunt porro totam odio voluptates, cum quod nobis voluptas nulla dolorem autem ut quam dignissimos perspiciatis, omnis obcaecati!
                Rem impedit inventore cupiditate tenetur labore ratione odit animi illo quas aliquid hic dolore voluptas quam quaerat nobis a atque consequuntur ipsum minima nisi rerum, omnis, reiciendis delectus accusamus. Quos?
                Quo, vel. Sunt amet laboriosam minima facilis consequuntur ea vel explicabo asperiores maxime officiis? Dolorem quidem quam officia aliquam asperiores, mollitia, voluptates iusto ipsum fugiat eveniet id, eos excepturi ullam!
                Tempora totam aliquid non voluptates velit eaque sunt quam dignissimos deleniti harum porro, odio temporibus ad dicta. Expedita, rem? Reiciendis officiis totam nulla ullam reprehenderit consequatur sequi praesentium quos velit.
                Ex hic odit voluptatum dolorem culpa nulla placeat id eligendi atque dignissimos! Alias aliquid laborum atque illum rem, nihil ad ratione dolores odio doloribus, voluptatibus necessitatibus quo ea, quidem exercitationem.
                Accusantium necessitatibus facilis ducimus reprehenderit repellendus consectetur aliquid consequuntur quia explicabo delectus, similique quod tempore fuga magni sint temporibus. Odit nostrum, dolores laudantium animi nulla similique. Nam modi soluta molestias!
                Officiis animi laborum fuga aliquid, dolorum amet. Sint, culpa. Voluptatem quis quia autem odit explicabo, dolore sint officia amet fuga! Laudantium iste odio illum maxime ullam consectetur non ut ex?
                Quisquam voluptate mollitia cupiditate quas commodi? Necessitatibus nemo assumenda, commodi tempora impedit eveniet excepturi? Recusandae vel, suscipit iusto aliquam aspernatur quidem laborum. Quas neque culpa minima a voluptatum corporis exercitationem.
                Laudantium dolor inventore provident praesentium rerum! Velit architecto distinctio eveniet sed. Odio illo sunt aperiam voluptatem aliquam est sed! Amet, error mollitia consequuntur debitis hic inventore placeat. Nihil, qui nam?
            </p>
        </div>
        <div class="der">

        </div>
    </div>
</div>
<div><app-footer></app-footer></div>