<div>
    <app-navbar></app-navbar>
</div>
<div class="top">
    <div class="contenedor2">
        <h1><b> Conoce nuestra historia</b>
           </h1>
    </div>
    <div class="secciones container">
        <div class="izq">
            <h3><b>Acerca de nostros</b></h3>
            <p>
                La Liga de Fútbol de Tehuacán A.C., conocida popularmente como los Guerreros, tiene sus orígenes en 1945 como una liga amateur que reunía a trabajadores de fábricas, escuelas y residentes locales de Tehuacán para participar en torneos de liga y copa.
 En 1984, el club fue tomado por un grupo de líderes entusiastas del fútbol, entre ellos Mario Rivera, Mario Lopes, José Alameda, José Ronquillo y Rafael Lagos, quienes asumieron la dirección del equipo.
En años recientes, el club ha competido en la Tercera División de México, destacando por reunir a los mejores jugadores de la Liga de Fútbol de Tehuacán A.C. La historia del equipo se ha forjado en el Polideportivo La Huizachera, ubicado en Tehuacán, Puebla.
El escudo del equipo presenta un balón de fútbol con el escudo de la ciudad de Tehuacán en el centro, acompañado del nombre del club en la parte superior. En la parte inferior se encuentra el lema del equipo, "Deporte Salud y Vida", reflejando los valores fundamentales de la institución.
Bajo el liderazgo de Abel Nava como presidente y Noé Perucho como entrenador, el club continúa su trayectoria en la Tercera División de México, consolidándose como un referente en el ámbito deportivo de la región.

            </p>
        </div>
        <div class="der">
            <div data-aos="fade-up" data-aos-duration="3000">
                <img src="../../../assets/Imagenes/Liga_Tehuacan_AC.jpeg" alt="" srcset="">
            </div>
        </div>
    </div>
<!--     <div class="secciones container">
        <div class="der">
            <div data-aos="fade-down" data-aos-duration="3000">
                <img src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
            </div>
        </div>
        <div class="izq">
            <h3><b>Acerca de nostros?</b></h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, totam animi? Fugiat soluta accusantium
                tempore ratione nihil? Iste velit saepe veniam? Consequuntur perferendis ut quis modi est, ducimus
                aliquam reprehenderit.
                Temporibus quibusdam ea iure vitae tenetur non nemo, excepturi veritatis accusamus porro repellat
                nostrum! Laudantium dolor incidunt nam distinctio fuga, harum, ex facere possimus in iusto explicabo
                similique, perferendis tenetur.
                Laborum assumenda vero laudantium ducimus? Voluptatem vitae excepturi voluptate. Possimus quasi quam
                distinctio quo, dolor molestias corrupti alias et tempora excepturi. Architecto velit soluta quos quo,
                iure excepturi tenetur nam.
                Provident optio explicabo odit commodi praesentium! Nihil quia voluptatum corrupti a reprehenderit
                culpa, ipsa consequatur commodi, fugit placeat minima itaque corporis saepe minus, facilis provident
                totam ullam deserunt! Corporis, dignissimos!
                Aspernatur minima debitis dolore expedita nam tempore at eius vel fugiat. Natus officia iste cumque nemo
                excepturi culpa, dignissimos pariatur fugiat ipsum, explicabo reiciendis dolorum. Earum blanditiis animi
                neque eum?
            </p>
        </div>
    </div>
    <div class="secciones container">
        <div class="izq">
            <h3><b>Acerca de nostros?</b></h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, totam animi? Fugiat soluta accusantium
                tempore ratione nihil? Iste velit saepe veniam? Consequuntur perferendis ut quis modi est, ducimus
                aliquam reprehenderit.
                Temporibus quibusdam ea iure vitae tenetur non nemo, excepturi veritatis accusamus porro repellat
                nostrum! Laudantium dolor incidunt nam distinctio fuga, harum, ex facere possimus in iusto explicabo
                similique, perferendis tenetur.
                Laborum assumenda vero laudantium ducimus? Voluptatem vitae excepturi voluptate. Possimus quasi quam
                distinctio quo, dolor molestias corrupti alias et tempora excepturi. Architecto velit soluta quos quo,
                iure excepturi tenetur nam.
                Provident optio explicabo odit commodi praesentium! Nihil quia voluptatum corrupti a reprehenderit
                culpa, ipsa consequatur commodi, fugit placeat minima itaque corporis saepe minus, facilis provident
                totam ullam deserunt! Corporis, dignissimos!
                Aspernatur minima debitis dolore expedita nam tempore at eius vel fugiat. Natus officia iste cumque nemo
                excepturi culpa, dignissimos pariatur fugiat ipsum, explicabo reiciendis dolorum. Earum blanditiis animi
                neque eum?

            </p>
        </div>
        <div class="der">
            <div data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine">
                <img src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="secciones container">
        <div class="der">
            <div data-aos="flip-up" data-aos-duration="3000">
                <img src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
            </div>
        </div>
        <div class="izq">
            <h3><b>Acerca de nostros?</b></h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, totam animi? Fugiat soluta accusantium
                tempore ratione nihil? Iste velit saepe veniam? Consequuntur perferendis ut quis modi est, ducimus
                aliquam reprehenderit.
                Temporibus quibusdam ea iure vitae tenetur non nemo, excepturi veritatis accusamus porro repellat
                nostrum! Laudantium dolor incidunt nam distinctio fuga, harum, ex facere possimus in iusto explicabo
                similique, perferendis tenetur.
                Laborum assumenda vero laudantium ducimus? Voluptatem vitae excepturi voluptate. Possimus quasi quam
                distinctio quo, dolor molestias corrupti alias et tempora excepturi. Architecto velit soluta quos quo,
                iure excepturi tenetur nam.
                Provident optio explicabo odit commodi praesentium! Nihil quia voluptatum corrupti a reprehenderit
                culpa, ipsa consequatur commodi, fugit placeat minima itaque corporis saepe minus, facilis provident
                totam ullam deserunt! Corporis, dignissimos!
                Aspernatur minima debitis dolore expedita nam tempore at eius vel fugiat. Natus officia iste cumque nemo
                excepturi culpa, dignissimos pariatur fugiat ipsum, explicabo reiciendis dolorum. Earum blanditiis animi
                neque eum?
            </p>
        </div>
    </div>
    <div class="contenedor2">
        <h1>Comoce nuestra linea de tiempo</h1>
    </div>

    <div>
        <section class="timeline">
            <ul>
                <li>
                    <div data-aos="fade-up" data-aos-duration="3000">
                        <time>1934</time>
                        <p>Some content here</p>
                        <img class="iimmgg" src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
                    </div>
                </li>
                <li>
                    <div data-aos="fade-up" data-aos-duration="3000">
                        <time>1934</time>
                        <p>Some content here</p>
                        <img class="iimmg" src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
                    </div>
                </li>
                <li>
                    <div data-aos="fade-up" data-aos-duration="3000">
                        <time>1934</time>
                        <p>Some content here</p>
                        <img class="iimmgg" src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
                    </div>
                </li>
                <li>
                    <div data-aos="fade-up" data-aos-duration="3000">
                        <time>1934</time>
                        <p>Some content here</p>
                        <img class="iimmg" src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
                    </div>
                </li>
                <li>
                    <div data-aos="fade-up" data-aos-duration="3000">
                        <time>1934</time>
                        <p>Some content here</p>
                        <img class="iimmgg" src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
                    </div>
                </li>
                <li>
                    <div data-aos="fade-up" data-aos-duration="3000">
                        <time>1934</time>
                        <p>Some content here</p>
                        <img class="iimmg" src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
                    </div>
                </li>
            </ul>
            <div class="timeline-line"></div> 
        </section>
    </div>
    <div class="contenedor h5-f">
        <h1>Comoce nuestra galeria de fotos</h1>
    </div>
    <div class="contenedor container h5-f" data-aos="zoom-in" data-aos-duration="3000">
        <section class="galery">
            <img class="" src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
            <img class="" src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
            <img class="" src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
            <img class="" src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
            <img class="" src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
            <img class="" src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
            <img class="" src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
            <img class="" src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
            <img class="" src="../../../assets/Imagenes/prueba01.jpg" alt="" srcset="">
        </section>
    </div> -->
    <div class="donw"><app-footer></app-footer></div>