<div class="modal">
    <div class="modal-content">
        <div class="izq">
            <h1>¿Desea eliminar este equipo?</h1>
            <h5>Esta acción es irreversible. Si el contenido tiene relación con otro tipo de información se perderá de
                forma <b>permanente</b>.</h5>
            <h4><input type="checkbox" [(ngModel)]="checkboxChecked"><b style="margin-left: 10px;">Si es el caso, marque la casilla</b></h4>
        </div>
        <h2>Para confirmar, escriba: <b>'nombre del equipo'</b> en el cuadro de abajo:</h2>
        <div class="input" [ngClass]="{'invalid-input': error}">
            <input type="text" placeholder="Nombre de la categoría" class="category-input" [(ngModel)]="categoriaEliminar">
            <p class="error-message" *ngIf="error">Datos incorrectos / Datos incoherentes</p>
        </div>
        <div class="derecha">
            <button (click)="closeModal()" class="close-button">Cerrar</button>
            <button class="save-button" [disabled]="!checkboxChecked" (click)="guardarCambios()">Eliminar</button>
        </div>
    </div>
</div><!--  -->