<div class="card p-4">
    <div class="tab-pane active" id="Identificacion">
        <h1 style="font-weight: bold; font-size: 1rem;">*Identificador de datos personales</h1>
        <div class="row">
            <!-- Nombre -->
            <form [formGroup]="miFormulario">
                <label for="nombre">Nombre:</label>
                <input id="nombre" type="text" formControlName="nombre" class="form-control"
                    [ngClass]="{ 'error-input': nombre && nombre.invalid && (nombre.dirty || nombre.touched) }">
                <div *ngIf="nombre && nombre.invalid && (nombre.dirty || nombre.touched)">
                    <div *ngIf="nombre.errors?.['required']">El nombre es obligatorio.</div>
                    <div *ngIf="nombre.errors?.['pattern']">Solo se permiten letras y espacios.</div>
                </div>
                <!-- apellido Paterno -->
                <label for="apellidoPaterno">Apellido Paterno:</label>
                <input id="apellidoPaterno" type="text" formControlName="apellidoPaterno" class="form-control"
                    [ngClass]="{ 'error-input': apellidoPaterno && apellidoPaterno.invalid && (apellidoPaterno.dirty || apellidoPaterno.touched) }">

                <div
                    *ngIf="apellidoPaterno && apellidoPaterno.invalid && (apellidoPaterno.dirty || apellidoPaterno.touched)">
                    <div *ngIf="apellidoPaterno.errors?.['required']">El apellido paterno es obligatorio.</div>
                    <div *ngIf="apellidoPaterno.errors?.['pattern']">Solo se permiten letras y espacios.</div>
                </div>
                <!-- apellido Materno -->
                <label for="apellidoMaterno">Apellido Materno:</label>
                <input id="apellidoMaterno" type="text" formControlName="apellidoMaterno" class="form-control"
                    [ngClass]="{ 'error-input': apellidoMaterno && apellidoMaterno.invalid && (apellidoMaterno.dirty || apellidoMaterno.touched) }">

                <div
                    *ngIf="apellidoMaterno && apellidoMaterno.invalid && (apellidoMaterno.dirty || apellidoMaterno.touched)">
                    <div *ngIf="apellidoMaterno.errors?.['required']">El apellido materno es obligatorio.</div>
                    <div *ngIf="apellidoMaterno.errors?.['pattern']">Solo se permiten letras y espacios.</div>
                </div>
                <!-- genero -->
                <label for="genero">Género:</label>
                <select id="genero" class="form-control">
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                </select>
                <!-- Fecha -->
                <label for="Fecha">Fecha:</label>
                <input type="date" id="nacimiento" class="form-control" formControlName="Fecha"
                    [ngClass]="{ 'error-input': Fecha && Fecha.invalid && (Fecha.dirty || Fecha.touched) }">
                <div *ngIf="Fecha && Fecha.invalid && (Fecha.dirty || Fecha.touched)">
                    <div *ngIf="Fecha.errors?.['required']">La Fecha de nacimiento es obligatoria.</div>
                </div>
                <!-- Curp -->
                <label for="curp">CURP:</label>
                <input type="text" id="curp" class="form-control" formControlName="curp"
                    [ngClass]="{ 'error-input': curp && curp.invalid && (curp.dirty || curp.touched) }">
                <div *ngIf="curp && curp.invalid && (curp.dirty || curp.touched)">
                    <div *ngIf="curp.errors?.['required']">La curp es obligatoria.</div>
                    <div *ngIf="curp.errors?.['pattern']">Solo se permiten letras y numeros.</div>
                </div>
            </form>
        </div>
        <div>
            <button class="save-button" (click)="guardarInformacion()">Guardar</button>
        </div>

    </div>
</div>