<div class="sidebar">
    <div class="logo">
        <img src="/assets/imagenes/A.png" alt="Logo">
        <h1>FUTBOLI-ADMIN</h1>
    </div>
    <hr>
    <div class="sidebar" id="sidebar">
        <app-sidebar></app-sidebar>
    </div>
</div>
<div>
    <nav class="navbar just">
        <h1>Registro equipos</h1>
    </nav>
    <div class="content">
        <div class="centered-container card-container">
            <div class="card">
                <h2 class="justificado">Incripscion de equipos</h2>
                <form>
                    <label for="nombre-temporada" style="margin-bottom: 2rem;">
                        Complete este formulario para inscribir a un equipo en la liga. Un asterisco (*) indica la
                        información obligatoria.
                    </label>
                    <label for="nombre-temporada" style="margin-bottom: .5rem;">
                        *Ingresa el nombre del equipo
                    </label>
                    <input type="text" id="nombre-temporada" style="font-size: 1rem; margin-bottom: 1rem;">
                    <label for="nombre-temporada" style="margin-bottom: .5rem;">
                        *Asigna la categoría a participar
                    </label>
                    <select id="nombre-temporada" style="font-size: 1.5rem; margin-bottom: 2rem;">
                        <option value="pony">Pony</option>
                        <option value="bibeberoes">Bibeberoes</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <button id="btnGuardar" type="button" class="btn-green">Guardar</button>

                </form>
            </div>
        </div>
    </div>
</div>