.just {
  margin-left: 25rem
}

.content {
  margin-left: 25rem;
  padding: 20px;
}

.navbar {
  background-color: #078cb4;
  color: #011F3A;
  padding: 10px;
  border-bottom: 2px solid #011F3A
}

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Asegura que el navbar esté por encima de otros elementos */
}

.top {
  margin-top: 5rem;
}


/* ///////////////////////////////////////////////////////////////////// */
/*---------------------------------------------*/
.secciones {
  display: flex;
}

.izq {
  flex: 20%;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.der {
  flex: 80%;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.scroll {
  overflow-y: auto;
  max-height: 600px;
}
.scroll2 {
  overflow-y: auto;
  max-height: 300px;
}

/*  */
.scroll2::-webkit-scrollbar {
  margin-left: 5px;
  -webkit-appearance: none;
}

.scroll2::-webkit-scrollbar:vertical {
  width:10px;
}

.scroll2::-webkit-scrollbar-button:increment,.scroll::-webkit-scrollbar-button {
  display: none;
} 

.scroll2::-webkit-scrollbar:horizontal {
  height: 10px;
}

.scroll2::-webkit-scrollbar-thumb {
  background-color: #081858;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.scroll2::-webkit-scrollbar-track {
  border-radius: 10px;  
}

/*  */
.scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
  width:10px;
}

.scroll::-webkit-scrollbar-button:increment,.scroll::-webkit-scrollbar-button {
  display: none;
} 

.scroll::-webkit-scrollbar:horizontal {
  height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #081858;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.scroll::-webkit-scrollbar-track {
  border-radius: 10px;  
}

/* Horizontal*/

.scroll-horizontal::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scroll-horizontal::-webkit-scrollbar:vertical {
  width:10px;
}

.scroll-horizontal::-webkit-scrollbar-button:increment,.scroll-horizontal::-webkit-scrollbar-button {
  display: none;
} 

.scroll-horizontal::-webkit-scrollbar:horizontal {
  height: 10px;
}

.scroll-horizontal::-webkit-scrollbar-thumb {
  background-color: #081858;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.scroll-horizontal::-webkit-scrollbar-track {
  border-radius: 10px;  
}
/*  */
.scroll-horizontal {
  overflow-x: auto;
  white-space: nowrap; /* Evita que los elementos se envuelvan a la siguiente línea */
  width: 100%; /* Ajusta el ancho según tu necesidad */
  
}

.pablo {
  display: inline-block; /* Permite que las cartas estén una al lado de la otra */
  width: Auto; /* Ajusta el ancho de cada carta según tu necesidad */
  margin-right: 10px; /* Espacio entre cada carta */
  margin-bottom: 1rem;
}




/*---------------------------------------------*/
.card {
  padding: 1.4rem;
}

.card h1 {
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.search-input {
  text-align: left;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 10px;
  margin-bottom: 1.3rem;
  margin-top: 0.2rem;
  width: 99%;
}

/*---------------------------------------------*/
.table {
  margin-top: 1rem;
  border-collapse: collapse;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  /* Agrega una separación vertical de 10px entre th y td */
  background-color: transparent;
}

.table td {
  border: none;
  border-width: 1px 0;
  text-align: center;
  padding: 8px;
  background-color: #99969677;
  /* Cambiar al color de fondo gris deseado */
  border-bottom: 1px solid white;
  /* Agrega un borde inferior blanco */
  border-radius: 0;
  /* Restablece cualquier radio de borde anterior */
  margin: 5px;
  /* Agrega margen a las celdas */
  font-size: 1.5rem;
  /* Tamaño de la letra */
}

.table td:first-child {
  border-top-left-radius: 20px;
  /* Esquina superior izquierda */
  border-bottom-left-radius: 20px;
  /* Esquina inferior izquierda */

}

.table td:last-child {
  border-top-right-radius: 20px;
  /* Esquina superior derecha */
  border-bottom-right-radius: 20px;
  /* Esquina inferior derecha */

}

/* Estilo para las celdas de encabezado */
.table th {
  border: none;
  padding: 8px;
  background-color: transparent;
  /* Fondo transparente */
  font-weight: bold;
  /* Texto en negrita */
  font-size: 1.2rem;
  /* Tamaño de la letra */
}

/* ------------------------------------------------- */


.save-button {
  background-color: transparent;
  color: #288A85;
  border: 1px solid #288A85;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 100%;
}

.save-button:hover {
  background-color: #288A85;
  color: white;
}

/* ------------------------------------------------- */
.equipos-select {
  width: 45%;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #878787;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*---------------------------------------------*/
.custom-button {
  background-color: #c5fcfe;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.5rem;
  /*        ⬆️    ⬅️   ⬇️    ➡️ */
}
.custom-button2 {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.5rem;
  /*        ⬆️    ⬅️   ⬇️    ➡️ */
}
.custom-button3 {
  background-color: transparent;
  color: red;
  border: 1px solid red;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.5rem;
  /*        ⬆️    ⬅️   ⬇️    ➡️ */
}
/* Agrega estilos para la ventana emergente (modal) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
}

/* Estilo adicional para ocultar el input y los botones por defecto */
.modal-content input,
.modal-content button {
  display: block;
  margin-bottom: 10px;
}


/* ---------------------------------------- */

@media screen and (max-width: 1500px) {
  .container {
    margin: 1rem;

  }

  .logo h1 {
    font-size: 1rem;
  }

  .sidebar {
    width: 17rem;
  }

  .just {
    margin-left: 17rem
  }

  .content {
    margin-left: 17rem;
    padding: 20px;
  }

  /* ------------------------ */

}

/* ------------------------------------------ */
@media screen and (max-width: 900px) {
  .sidebar {
    width: 13rem;
  }

  .just {
    margin-left: 13rem
  }

  .content {
    margin-left: 13rem;
    padding: 20px;
  }

  /* ------------------------ */
}

/* ------------------------------------------ */

@media screen and (max-width: 500px) {
  .just {
    margin-left: 4rem;
  }

  .content {
    margin-left: 4rem;
    padding: 1rem;
  }

  /* ------------------- */
  .top {
    margin-top: 7rem;
  }

}