<div class="sidebar" id="sidebar">
    <app-sidebar></app-sidebar>
</div>
<nav class="navbar just fixed-navbar">
    <h1>
        <i class="fas fa-pencil-alt"></i>
        Rol de Juegos <!-- Agrega la interpolación aquí -->
    </h1>
</nav>
<div class="content">
    <div class="contenedor">
    <div class="izq">
      <h1>Selecciona un equipo</h1>
      <div class="selecciones">
        <select>
          <option value="equipo1">Equipo 1</option>
          <option value="equipo2">Equipo 2</option>
          <option value="equipo3">Equipo 3</option>
        </select>
        <select>
          <option value="equipo1">Equipo 1</option>
          <option value="equipo2">Equipo 2</option>
          <option value="equipo3">Equipo 3</option>
        </select>
        <select>
          <option value="equipo1">Equipo 1</option>
          <option value="equipo2">Equipo 2</option>
          <option value="equipo3">Equipo 3</option>
        </select>
      </div>
    </div>
    <div class="der">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>Equipo 1</td>
            <td>-</td>
            <td>0</td>
            <td>VS</td>
            <td>0</td>
            <td>-</td>
            <td>Equipo 2</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  