<div class="sidebar">
    <div class="logo">
        <img src="/assets/imagenes/A.png" alt="Logo">
        <h1>FUTBOLI-ADMIN</h1>
    </div>
    <hr>
    <ul>
        <a class="custom-link" routerLink="/Admin-Home">
            <li><i class="fas fa-home"></i>
                <a class="cero custom-link">Inicio</a>
            </li>
        </a>
        <hr>
 
        <a class="custom-link" routerLink="/Admin-Categorias">
            <li><i class="fas fa-th-large"></i>
                <a class="cero custom-link">Categorías</a>
            </li>
        </a>
        <a class="custom-link" routerLink="/Admin-Equipos">
            <li><i class="fas fa-users"></i>
                <a class="cero custom-link">Equipos</a>
            </li>
        </a>
        <hr>
        <a class="custom-link" routerLink="/Admin-RegistroJugador">
            <li><i class="fas fa-user"></i>
                <a class="cero custom-link">Jugadores</a>
            </li>
        </a>
        <a class="custom-link" routerLink="/Admin-Partidos">
            <li><i class="fas fa-futbol"></i>
                <a class="cero custom-link">Partidos</a>
            </li>
        </a>
        <hr>
        <a class="custom-link" routerLink="/Admin-Recibos">
            <li><i class="fas fa-file-invoice-dollar"></i>
                <a class="cero custom-link">Recibos</a>
            </li>
        </a>
        <hr>
        <a class="custom-link" routerLink="/Inicio">
            <li><i class="fas fa-sign-out-alt"></i>
                <a class="cero custom-link">Cerrar Sesión</a>
            </li>
        </a>
        <a class="custom-link" routerLink="/Admin-RegistroEquipo">
            <li><i class="far fa-address-book"></i>
                <a class="cero custom-link">Registros de Equipos</a>
            </li>
        </a>
    </ul>
</div>
