
.navbar {
  background-color: #078cb4;
  color: #011F3A;
  /* color letra */
  padding: 10px;
  border-bottom: 2px solid #011F3A
}

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.justificado {
  margin-top: 1rem;
  text-align: justify;
}

@media screen and (max-width: 1500px) {
  .Res {
    margin-bottom: -3.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }
}