.just {
  margin-left: 25rem
}

.content {
  margin-left: 25rem;
  padding: 20px;
}

.navbar {
  background-color: #078cb4;
  color: #011F3A;
  padding: 10px;
  border-bottom: 2px solid #011F3A
}

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Asegura que el navbar esté por encima de otros elementos */
}
scroll {
  overflow-y: auto;
  max-height: 350px;
}

/* ///////////////////////////////////////////////////////////////////// */
.container {
  margin: 5rem;
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d921;
  border-radius: 12px;
}

.custom-button {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  /* ⬆️    ⬅️   ⬇️    ➡️ */

}

/* -------------------------------- */
.search-container {
  margin-top: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  /* Ajusta la altura según tus necesidades */
}

.search-wrapper {
  text-align: center;
}

.search-input {
  text-align: left;
  padding: 0.5rem 25rem 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 0.5rem;
}

.custom-button2 {
  background-color: #FEE2C5;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  /* ⬆️    ⬅️   ⬇️    ➡️ */
}

/* --------------------------- */

.search-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  /* Agregado para separar del input */
}

b,
p {
  margin: 10px;
  /* Elimina el margen predeterminado para alinear correctamente */
}

.orden-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.1rem;
  /* Agregado para separar del input */
}

/* -------------------------------- */
.center {
  text-align: center;
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.cards {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.card {
  width: 20%;
  background-color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
margin: 1rem;
margin-left: auto;
margin-right: auto;
}

.card hr {
  width: 95%;
  border: 1px solid #000000;
  /* Color y estilo de la línea */
}

.card img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card h3 {
  margin-top: 10px;
  font-size: 1.2rem;
}

.card p {
  text-align: center;
  font-size: 1rem;
  color: #555;
}

@media screen and (max-width: 1500px) {
  .container {
    margin: 1rem;

  }

  .logo h1 {
    font-size: 1rem;
  }

  .sidebar {
    width: 17rem;
  }

  .just {
    margin-left: 17rem
  }

  .content {
    margin-left: 17rem;
    padding: 20px;
  }

  /* ------------------------ */
  .search-input {
     padding: 0.5rem 15rem 0.5rem 1rem;
     }
}/* ------------------------------------------ */
@media screen and (max-width: 900px) {
  .sidebar {
    width: 13rem;
  }

  .just {
    margin-left: 13rem
  }

  .content {
    margin-left: 13rem;
    padding: 20px;
  }

 /* ------------------------ */
 .search-input {
  padding: 0.5rem 10rem 0.5rem 1rem;
  }
}
/* ------------------------------------------ */

@media screen and (max-width: 500px) {
  .just {
    margin-left: 4rem;
  }
  .content {
    margin-left: 4rem;
    padding: 1rem;
  }
  /* ------------------- */
  .search-input {
    margin-left: 4.2rem;
    padding: 0.5rem 0rem 0.5rem 0.4rem;
    }
  /* para lado derecho NO MENU */
  .cards {
    display: flex;
    /* Cambia el flujo a flex */
    flex-direction: column;
    /* Apila las tarjetas verticalmente */
    align-items: center;
  }

  .card {
    display: block;
    width: 80%;
    margin: 1rem;
  }
}