<div class="sidebar" id="sidebar">
    <app-sidebar></app-sidebar>
</div>
<nav class="navbar just fixed-navbar">
    <h1>
        <i class="fas fa-user"></i> Jugadores
    </h1>
</nav>

<div class="content">
    <div class="search-container">
        <div class="search-wrapper">
            <input type="text" class="search-input" placeholder="Buscar Categorías...">
            <button class="custom-button2">Buscar</button>
        </div>

    </div>

    <div class="orden-container">
        <div class="search-wrapper">
            <b>Buscar por: </b>
            <p>Codigo</p>
            <input type="checkbox">
            <p>Nombre</p>
            <input type="checkbox">
        </div>
    </div>
    <hr>
    <button class="custom-button" routerLink="/Admin-RegistroJugador">
        <i class="far fa-address-book"></i> Registrar jugador
    </button>
    <div class="center">
        <div class="cards">
            <div class="card" routerLink="/card-jugador">
                <img src="../../../../../assets/imagenes/Admin/img(3).png" alt="categorías">
                <hr>
                <h3>Juanito Perez</h3>
                <p>Código: 00000</p>
            </div>
            <div class="card">
                <img src="../../../../../assets/imagenes/Admin/img(3).png" alt="categorías">
                <hr>
                <h3>interpolacion name</h3>
                <p>interpolacion codigo</p>
            </div>
            <div class="card">
                <img src="../../../../../assets/imagenes/Admin/img(3).png" alt="categorías">
                <hr>
                <h3>interpolacion name</h3>
                <p>interpolacion codigo</p>
            </div>
            <div class="card">
                <img src="../../../../../assets/imagenes/Admin/img(3).png" alt="categorías">
                <hr>
                <h3>interpolacion name</h3>
                <p>interpolacion codigo</p>
            </div>

        </div>
    </div>
</div>