<div class="modal">
  <div class="modal-content">
    <form [formGroup]="equipoForm" (ngSubmit)="guardar()">
      <div class="izq">
        <h2>Equipamiento de recursos</h2>
        <select class="search-input" formControlName="equipos" [ngClass]="{ 'error-input': equipoForm.get('equipos')?.invalid && equipoForm.get('equipos')?.touched }">
          <option value="">Selecciona un equipo</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="D">D</option>
        </select>
        
        <div *ngIf="equipoForm.get('equipos')?.invalid && equipoForm.get('equipos')?.touched" class="error-class">
          Por favor, selecciona un equipo.
        </div>
        <div class="divison">
          <div class="izq">
            <h3>Botiquín:</h3>
            <h3>Balones: </h3>
            <h3>Gafete de capitán: </h3>
            <h3>D.T.: </h3>
          </div>
          <div class="der">
            <h3>
              <label class="switch">
                <input type="checkbox" formControlName="botiquin" (change)="onSwitchChange('Botiquin', $event)">
                <span class="slider round"></span>
              </label>
            </h3>
            <h3>
              <label class="switch">
                <input type="checkbox" formControlName="balones" (change)="onSwitchChange('Balones', $event)">
                <span class="slider round"></span>
              </label>
            </h3>
            <h3>
              <label class="switch">
                <input type="checkbox" formControlName="gafete" (change)="onSwitchChange('Gafete', $event)">
                <span class="slider round"></span>
              </label>
            </h3>
            <h3>
              <label class="switch">
                <input type="checkbox" formControlName="dt" (change)="onSwitchChange('DT', $event)">
                <span class="slider round"></span>
              </label>
            </h3>
          </div>
        </div>
        <div class="botones">
          <button type="button" class="cancelar-button" (click)="closeModal()">CANCELAR</button>
          <button type="submit" class="save-button">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>
