.just {
    margin-left: 25rem
}

.content {
    margin-left: 25rem;
    padding: 2rem;
}

.navbar {
    background-color: #fff;
    color: #011F3A;
    padding: 10px;
    border-bottom: 2px solid #011F3A
}

.btn-green {
  background-color: #338f8a;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}
/* Estilos para el contenedor del input */
.input {
    width: 100%;
    margin-bottom: 3rem;
  }
  
  /* Estilos para el input */
  .modal-content input.category-input {
    width: calc(100% - 1rem);
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.3rem;
    color: black;
  }