.just {
    margin-left: 25rem
}

.content {
    margin-left: 25rem;
    padding: 2rem;
}

.navbar {
  background-color: #078cb4;
  color: #011F3A;
  /* color letra */
  padding: 10px;
  border-bottom: 2px solid #011F3A
}
.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* ///////////////////////////////////////////////////////////////////// */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  /* Ajusta la altura según tus necesidades */
}

.search-wrapper {
  text-align: center;
}

.search-input {
  text-align: left;
  padding: 0.5rem 25rem 0.5rem 1rem;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 0.5rem;
}

.custom-button2 {
  background-color: #FEE2C5;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  /* ⬆️    ⬅️   ⬇️    ➡️ */
}

/* ---------------------------------------- */
.button-container {
  text-align: left;
}

.custom-button {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  /* ⬆️    ⬅️   ⬇️    ➡️ */

}








