.just {
    margin-left: 25rem
}

.content {
    margin-left: 25rem;
    padding: 2rem;
}

.navbar {
    background-color: #fff;
    color: #011F3A;
    padding: 10px;
    border-bottom: 2px solid #011F3A
}

.btn-green {
  background-color: #338f8a;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}