<div class="modal">
    <div class="modal-content">
        <div class="izq">
            <h1><b>¿Desea eliminar esto?</b></h1>
            <h5>Esta acción es irreversible. Si el elemento tiene relación con otro tipo de información se perderá de
                forma <b>permanente</b>.</h5>
            <h5><input type="checkbox" [(ngModel)]="checkboxChecked"><b style="margin-left: 10px;">He leido el mensaje y acepto.</b></h5>
        </div>
        <h5>Para confirmar, escriba: <b>{{ palabraClave }}</b> en el cuadro de abajo:</h5>
        <div class="input" [ngClass]="{'invalid-input': error}">
            <input type="text" placeholder="Nombre del elemento" class="category-input" [(ngModel)]="categoriaEliminar">
            <p class="error-message" *ngIf="error">Datos incorrectos / Datos incoherentes</p>
        </div>
        <div class="derecha">
            <button (click)="closeModal()" class="close-button">Cerrar</button>
            <button class="save-button" [disabled]="!checkboxChecked" (click)="guardarCambios()">Eliminar</button>
        </div>
    </div>
</div>