.custom-link {
    text-decoration: none;
    color: inherit;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25rem;
    background-color: #011F3A;
    color: #fff;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {
    width: 30px;
    margin-right: 10px;
}

.logo h1 {
    font-size: 2rem;
    margin: 0;
    color: #FFF;
}

hr {
    border: 0.5px solid #fff;
    margin: 15px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    cursor: pointer;
    padding: 10px 0;
    font-size: 1.5rem;
    color: #FFF;
}

ul li:hover {
    background-color: #FFFF83;
    color: #000;
}

.just {
    margin-left: 25rem
}

.content {
    margin-left: 25rem;
    padding: 20px;
}

.navbar {
    background-color: #fff;
    color: #011F3A;
    padding: 10px;
    border-bottom: 2px solid #011F3A
}
