<div class="sidebar">
    <div class="logo">
        <img src="/assets/imagenes/A.png" alt="Logo">
        <h1>FUTBOLI-ADMIN</h1>
    </div>
    <hr>
    <ul>
        <a class="custom-link" routerLink="/Admin-Home">
            <li><i class="fas fa-home"></i> Inicio</li>
        </a>
        <hr>
        <a class="custom-link" routerLink="/Admin-Temporadas">
            <li><i class="far fa-flag"></i> Temporadas</li>
        </a>
        <a class="custom-link" routerLink="/Admin-Categorias">
            <li><i class="fas fa-th-large"></i> Categorías</li>
        </a>
        <a class="custom-link" routerLink="/Admin-RegistroEquipo">
            <li><i class="far fa-address-book"></i> Registros de Equipos</li>
        </a>
        <hr>
        <a class="custom-link" routerLink="/Admin-Equipos">
            <li><i class="fas fa-users"></i> Equipos</li>
        </a>
        <a class="custom-link" routerLink="/Admin-RegistroJugador">
            <li><i class="fas fa-user"></i> Jugadores</li>
        </a>
        <a class="custom-link" routerLink="/Admin-Partidos">
            <li><i class="fas fa-futbol"></i> Partidos</li>
        </a>
        <hr>
        <a class="custom-link" routerLink="/Inicio">
            <li><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</li>
        </a>
    </ul>
<!--  -->
</div>
<div>
    <nav class="navbar just">
        <h1>Jugadores</h1>
    </nav>
    <div class="content">
        <div class="card p-4">
            <div>
                <h2>Formulario de inscripción</h2>
                <p>Complete este formulario para inscribir a un jugador en la liga. Un asterisco (*) indica la
                    información obligatoria.</p>
                <h1 style="font-weight: bold; font-size: 1rem;">*Identificador del jugador</h1>
            </div>
            <div class="row">
                <div class="col">
                    <label for="folio">Folio:</label>
                    <input type="text" id="folio" class="form-control">
                    <label for="equipo">Equipo:</label>
                    <select id="equipo" class="form-control">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="inputGroupFile02">
                        <label class="input-group-text" for="inputGroupFile02">Subir</label>
                    </div>
                </div>
            </div>
            <div>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" class="form-control">
                <label for="apellidoPaterno">Apellido Paterno:</label>
                <input type="text" id="apellidoPaterno" class="form-control">
                <label for="apellidoMaterno">Apellido Materno:</label>
                <input type="text" id="apellidoMaterno" class="form-control">
                <label for="genero">Género:</label>
                <select id="genero" class="form-control">
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                </select>
                <label for="edad">Edad:</label>
                <input type="number" id="edad" class="form-control">
                <hr>
                <label for="nacimiento">Nacimiento:</label>
                <input type="date" id="nacimiento" class="form-control">
                <label for="curp">CURP:</label>
                <input type="text" id="curp" class="form-control">
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" class="form-control">
                <hr>
                <label for="estatura">Estatura:</label>
                <input type="number" id="estatura" class="form-control">
                <label for="peso">Peso:</label>
                <input type="number" id="peso" class="form-control">
                <label for="tipoSangre">Tipo de Sangre:</label>
                <select id="tipoSangre" class="form-control">
                    <option value="O+">O+</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O-">O-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
                <hr>
                <label for="calle">Calle:</label>
                <input type="text" id="calle" class="form-control">
                <label for="numero">Número:</label>
                <input type="number" id="numero" class="form-control">
                <label for="colonia">Colonia:</label>
                <input type="text" id="colonia" class="form-control">
                <label for="ciudad">Ciudad:</label>
                <input type="text" id="ciudad" class="form-control">
                <label for="codigoPostal">Código Postal:</label>
                <input type="number" id="codigoPostal" class="form-control">
                <hr>
                <label for="escolaridad">Escolaridad:</label>
                <input type="text" id="escolaridad" class="form-control">
                <label for="escuela">Escuela:</label>
                <input type="text" id="escuela" class="form-control">
                <label for="grado">Grado:</label>
                <input type="number" id="grado" class="form-control">
                <label for="grupo">Grupo:</label>
                <input type="text" id="grupo" class="form-control">
                <hr>
                <label for="tutor">Tutor:</label>
                <input type="text" id="tutor" class="form-control">
            </div>
        </div>
    </div>

</div>