.just {
  margin-left: 25rem
}

.content {
  margin-left: 25rem;
  padding: 20px;
}

.navbar {  
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #078cb4;
  color: #011F3A;
  padding: 10px;
  border-bottom: 2px solid #011F3A;
}
.top{margin-top: 5rem;}

/* ///////////////////////////////////////////////////////////////////// */
.content {
  padding: 2rem;
}

.card {
  padding: 1rem;
}

/*---------------------------------------------*/
.divison {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}


.scroll {
  overflow-y: auto;
  max-height: 200px;
}

/* Estilos de div IZQ */
/* //////////////////////////////////////////////////////////////////////////////////////////////// */

.añadir {
  background-color: transparent;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 0.9rem;
  padding: 0.5rem 1rem;
}

.añadir:hover {
  background-color: #000000;
  color: white;
}
.ir {
  background-color: transparent;
  color: #000000;
  border: 0px;
}

/* -------------------------------------------------------------------------------------------------*/
.form-select {
  text-align: left;
  padding: 0.5rem;
  border: 1px solid #ee0000;
  border-radius: 10px;
  margin-right: 3rem;
  width: 40%;
}

/* -------------------------------------------------------------------------------------------------*/
.table {
  margin-top: 4rem;
  border: 2px solid navy;
  border-collapse: collapse;
  width: 100%;
}

.table td {
  border: none;
  border-width: 1px 0;
  text-align: center;
}

.table td:first-child {
  border-left: 1px solid navy;
}

.table td:last-child {
  border-right: 1px solid navy;
}

/* -------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1500px) {
  .container {
    margin: 1rem;

  }

  .logo h1 {
    font-size: 1rem;
  }

  .sidebar {
    width: 17rem;
  }

  .just {
    margin-left: 17rem
  }

  .content {
    margin-left: 17rem;
    padding: 20px;
  }

  /* ------------------------ */

}

/* ------------------------------------------ */
@media screen and (max-width: 900px) {
  .sidebar {
    width: 13rem;
  }

  .just {
    margin-left: 13rem
  }

  .content {
    margin-left: 13rem;
    padding: 20px;
  }

  /* ------------------------ */
}

/* ------------------------------------------ */

@media screen and (max-width: 500px) {
  .just {
    margin-left: 4rem;
  }

  .content {
    margin-left: 4rem;
    padding: 1rem;
  }

  /* ------------------- */
  .top {
    margin-top: 7rem;
  }

}

@media screen and (max-width: 900px) {
  ul li {
    font-size: 1.1rem;
  }

  .logo h1 {
    font-size: 1rem;
  }

  .sidebar {
    width: 13rem;
  }

  .just {
    margin-left: 13rem
  }

  .content {
    margin-left: 13rem;
    padding: 20px;
  }
}

/* ------------------------------------------ */

@media screen and (max-width: 500px) {
  ul li {
    margin-left: -0.5rem;
    font-size: 2.5rem;
    padding: 6px 0;
    /* Ajusta el espaciado vertical entre elementos */
    margin-bottom: -4rem;
    /* Elimina el margen inferior entre elementos */
  }

  .logo h1 {
    font-size: 0rem;
  }

  .sidebar {
    width: 4rem;
  }

  .just {
    margin-left: 4rem;
  }

  hr {
    border: 1px solid #fff;
    margin: 10px 0;
  }

  .content {
    margin-left: 4rem;
    padding: 0;
  }

  .cero {
    font-size: 0;
    padding: 0;
    /* Elimina el espaciado entre elementos con clase "cero" */
    margin-bottom: 0;
    /* Elimina el margen inferior entre elementos con clase "cero" */
  }

  .cero a {
    display: none;
  }

  .cero i {
    font-size: 1.5rem;
  }
}