<div class="sidebar">
    <div class="logo">
        <img src="/assets/imagenes/A.png" alt="Logo">
        <h1>FUTBOLI-ADMIN</h1>
    </div>
    <hr>
    <ul>
        <a class="custom-link" routerLink="/Admin-Home">
            <li><i class="fas fa-home"></i> Inicio</li>
        </a>
        <hr>
        <a class="custom-link" routerLink="/Admin-Temporadas">
            <li><i class="far fa-flag"></i> Temporadas</li>
        </a>
        <a class="custom-link" routerLink="/Admin-Categorias">
            <li><i class="fas fa-th-large"></i> Categorías</li>
        </a>
        <a class="custom-link" routerLink="/Admin-RegistroEquipo">
            <li><i class="far fa-address-book"></i> Registros de Equipos</li>
        </a>
        <hr>
        <a class="custom-link" routerLink="/Admin-Equipos">
            <li><i class="fas fa-users"></i> Equipos</li>
        </a>
        <a class="custom-link" routerLink="/Admin-RegistroJugador">
            <li><i class="fas fa-user"></i> Jugadores</li>
        </a>
        <a class="custom-link" routerLink="/Admin-Partidos">
            <li><i class="fas fa-futbol"></i> Partidos</li>
        </a>
        <hr>
        <a class="custom-link" routerLink="/Inicio">
            <li><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</li>
        </a>
    </ul>

</div>
<div>
    <nav class="navbar just">
        <h1>Partidos</h1>
    </nav>
    <div class="content">
        <!-- aqui va el resto -->
    </div>
</div>