<div class="sidebar">
    <div class="logo">
        <img src="/assets/imagenes/A.png" alt="Logo">
        <h1>FUTBOLI-ADMIN</h1>
    </div>
    <hr>
    <div class="sidebar" id="sidebar">
        <app-sidebar></app-sidebar>
    </div>
</div>
<div>
    <nav class="navbar just">
        <h1>Partidos</h1>
    </nav>
    <div class="content">
        <div class="card">
          <select id="temporadas" class="form-select mb-3" aria-label="Selecciona torneo">
            <option selected>Selecciona torneo</option>
            <option value="temp1">Temporada 1</option>
            <option value="temp2">Temporada 2</option>
            <option value="temp3">Temporada 3</option>
            <option value="temp4">Temporada 4</option>
          </select>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td>Equipo 1</td>
                <td>-</td>
                <td>0</td>
                <td>VS</td>
                <td>0</td>
                <td>-</td>
                <td>Equipo 2</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      
</div>