<div class="top">
    <app-navbar></app-navbar>
</div>

<div>
    <div>
        <div>
            <div class="container top3">
                <h1>Categoria Biberones<!-- aqui se puuede llamar a traer tambien de la bd --></h1>
            </div>
            <div class="top2">
                <button type="button" class="btn btn-outline-primary btn-lg btn-block">Actualizar tabla </button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <p class="bottom"> Apertura: Jornada 1</p>
            <table class="table-container">
                <tbody>
                    <tr class="title section1">
                        <td>Equipo 1</td>
                        <td>Equipo 3</td>
                    </tr>
                    <tr>
                        <td>Equipo 5</td>
                        <td>Equipo 7</td>
                    </tr>
                    <tr>
                        <td>Equipo 9</td>
                        <td>Equipo 4</td>
                    </tr>
                    <tr>
                        <td>Equipo 6</td>
                        <td>Equipo 8</td>
                    </tr>
                    <tr>
                        <td>Equipo 10</td>
                        <td>Equipo 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section">
            <p class="bottom"> Apertura: Jornada 2</p>
            <table class="table-container">
                <tbody>
                    <tr class="title section2">
                        <td>Equipo 1</td>
                        <td>Equipo 3</td>
                    </tr>
                    <tr>
                        <td>Equipo 5</td>
                        <td>Equipo 7</td>
                    </tr>
                    <tr>
                        <td>Equipo 9</td>
                        <td>Equipo 4</td>
                    </tr>
                    <tr>
                        <td>Equipo 6</td>
                        <td>Equipo 8</td>
                    </tr>
                    <tr>
                        <td>Equipo 10</td>
                        <td>Equipo 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section">
            <p class="bottom"> Apertura: Jornada 3</p>
            <table class="table-container">
                <tbody>
                    <tr class="title section2">
                        <td>Equipo 1</td>
                        <td>Equipo 3</td>
                    </tr>
                    <tr>
                        <td>Equipo 5</td>
                        <td>Equipo 7</td>
                    </tr>
                    <tr>
                        <td>Equipo 9</td>
                        <td>Equipo 4</td>
                    </tr>
                    <tr>
                        <td>Equipo 6</td>
                        <td>Equipo 8</td>
                    </tr>
                    <tr>
                        <td>Equipo 10</td>
                        <td>Equipo 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section">
            <p class="bottom"> Apertura: Jornada 4</p>
            <table class="table-container">
                <tbody>
                    <tr class="title section2">
                        <td>Equipo 1</td>
                        <td>Equipo 3</td>
                    </tr>
                    <tr>
                        <td>Equipo 5</td>
                        <td>Equipo 7</td>
                    </tr>
                    <tr>
                        <td>Equipo 9</td>
                        <td>Equipo 4</td>
                    </tr>
                    <tr>
                        <td>Equipo 6</td>
                        <td>Equipo 8</td>
                    </tr>
                    <tr>
                        <td>Equipo 10</td>
                        <td>Equipo 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section">
            <p class="bottom"> Apertura: Jornada 5</p>
            <table class="table-container">
                <tbody>
                    <tr class="title section2">
                        <td>Equipo 1</td>
                        <td>Equipo 3</td>
                    </tr>
                    <tr>
                        <td>Equipo 5</td>
                        <td>Equipo 7</td>
                    </tr>
                    <tr>
                        <td>Equipo 9</td>
                        <td>Equipo 4</td>
                    </tr>
                    <tr>
                        <td>Equipo 6</td>
                        <td>Equipo 8</td>
                    </tr>
                    <tr>
                        <td>Equipo 10</td>
                        <td>Equipo 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section">
            <p class="bottom"> Apertura: Jornada 6</p>
            <table class="table-container">
                <tbody>
                    <tr class="title section2">
                        <td>Equipo 1</td>
                        <td>Equipo 3</td>
                    </tr>
                    <tr>
                        <td>Equipo 5</td>
                        <td>Equipo 7</td>
                    </tr>
                    <tr>
                        <td>Equipo 9</td>
                        <td>Equipo 4</td>
                    </tr>
                    <tr>
                        <td>Equipo 6</td>
                        <td>Equipo 8</td>
                    </tr>
                    <tr>
                        <td>Equipo 10</td>
                        <td>Equipo 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section">
            <p class="bottom"> Apertura: Jornada 7</p>
            <table class="table-container">
                <tbody>
                    <tr class="title section2">
                        <td>Equipo 1</td>
                        <td>Equipo 3</td>
                    </tr>
                    <tr>
                        <td>Equipo 5</td>
                        <td>Equipo 7</td>
                    </tr>
                    <tr>
                        <td>Equipo 9</td>
                        <td>Equipo 4</td>
                    </tr>
                    <tr>
                        <td>Equipo 6</td>
                        <td>Equipo 8</td>
                    </tr>
                    <tr>
                        <td>Equipo 10</td>
                        <td>Equipo 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section">
            <p class="bottom"> Apertura: Jornada 8</p>
            <table class="table-container">
                <tbody>
                    <tr class="title section2">
                        <td>Equipo 1</td>
                        <td>Equipo 3</td>
                    </tr>
                    <tr>
                        <td>Equipo 5</td>
                        <td>Equipo 7</td>
                    </tr>
                    <tr>
                        <td>Equipo 9</td>
                        <td>Equipo 4</td>
                    </tr>
                    <tr>
                        <td>Equipo 6</td>
                        <td>Equipo 8</td>
                    </tr>
                    <tr>
                        <td>Equipo 10</td>
                        <td>Equipo 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="section">
            <p class="bottom"> Apertura: Jornada 9</p>
            <table class="table-container">
                <tbody>
                    <tr class="title section2">
                        <td>Equipo 1</td>
                        <td>Equipo 3</td>
                    </tr>
                    <tr>
                        <td>Equipo 5</td>
                        <td>Equipo 7</td>
                    </tr>
                    <tr>
                        <td>Equipo 9</td>
                        <td>Equipo 4</td>
                    </tr>
                    <tr>
                        <td>Equipo 6</td>
                        <td>Equipo 8</td>
                    </tr>
                    <tr>
                        <td>Equipo 10</td>
                        <td>Equipo 2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div><app-footer></app-footer></div>